body {
    padding-top:60px;
    background-color: #333333;
    color: #fff;
    font-size: medium;

}

@media print { 
    .navbar {
        display: block;
        border-width:0 !important;
    }
    .navbar-toggle {
        display:none;
    }
}

.helptext {
    font-size: smaller;
    color: white;
    display: block;
}

label{
    display: inline;
}


.navbar-brand a {
    width: 235px !important; 
} 

.container  {
    width: 95% !important; /*    width: 1160px; */

}


.container, .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
}

.container-fluid{
    margin-top: 1px;
}

h1, h2, .h1, .h2, .h3, .results-list h3, h1, h2, h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.breadcrumb {
    margin-bottom: 1px;
    padding: 1px;
    
}


.jumbotron {
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left:  0px;
    padding-right:  0px;
    background-color: #333333;
    margin: 0px;

    
}

.jumbotron > img {
    border: 0;
    width: 100%;
    height:  100%;
}


.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #666666;
    color: white;
}


.table-striped > thead > tr  {
    background-color: #222222;
}

.link{
    color:white;
}

.link2{
    color:  rgba(6, 83, 250, 0.582);
    font-weight: bold;
}

.aldryn-people-article h2, .h1, .h2, .h3, .h4, .h5, .h6, .results-list h3, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 100;
    line-height: 1.1;
    color:white;
}


a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    
   
}

.btn-primary, .btn-default, .btn-primary:visited, .btn-default:visited {
    color: #fff;
    background-color: #FF3300 ;
    border-color: #FF3300 ;
}


.btn:hover {
   color: #fff;
    background-color:  rgba(6, 83, 250, 0.582);
    border-color:   rgba(6, 83, 250, 0.582);
}

.btn:visited, .btn:active {
    color: #fff;
     background-color:   #FF3300 ;
     border-color:   #FF3300 ;
 }
  
 
 .panel {
    font-size: medium;
 }

.panel-primary > .panel-heading  {
    font-size: medium;
    color: #fff;
    background-color:  rgba(6, 83, 250, 0.582);
    border-color: rgba(6, 83, 250, 0.582);
    font-weight: bold;
}



.nav-tabs > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: rgba(6, 83, 250, 0.582);
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: rgba(6, 83, 250, 0.582);
}


.breadcrumb > .active {
    color: #fff;
}

.navbar-nav > li > a:hover {
    border-color: rgba(6, 83, 250, 0.582);
}



.navbar-main .nav > .active > a > span, .navbar-main .nav > li:hover > a > span {
    border-color: rgba(6, 83, 250, 0.582);
}

 
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(6, 83, 250, 0.582);
    color:#fff;
}



.panel-body, .panel-footer  {
    color:#666666;
 
}


.panel-body, .panel-footer  {
    color:white;
    background-color: #444444;
}

.box {
    font-size: medium;
    background-color: #333333;

}

.box.box-primary  {
    font-size: medium;
    border: 1px solid ;
    border-top-color: #d2d6de !important;
    

}

 .box-header {
    background-color: #444444;
    color: white;
    font-weight: bold;

}

.box-footer {
    background-color:  #333333;
    color: white;


}

#accordion {
    font-size: medium;
    background-color: #333333;
}

#accordion >  .panel-default > .panel-heading,  
#accordion >  .panel-default > .panel-body, 
#accordion >  .panel-default > .panel-collapse  > .panel-body, 
#accordion >  .panel-default > .panel-footer
 {
    color:white;
    background-color: #333333;
    border-color: rgba(6, 83, 250, 0.582);
    font-size: medium;
}

#accordion >  .panel-default > .panel-heading > .panel-title  > a {
    color:white;
    font-weight: normal;
    font-size: medium;

}

/*
tabelas
*/
.table {
    border-color:#333333;
    border-width: medium medium thick medium;
    border-style:solid;
    width: 100%;
}
.table th, .table td { 
    padding: 5px; 
    border-color:#333333;
    border-style:solid;
    box-sizing: 30px;
    border-width: medium medium thick medium;
    color: #FFFFFF;
   /* text-align: center;*/
   /* font-size: medium;*/
} 

.table th { 
    background-color: #000000;
    text-align: center;
    vertical-align: middle;
    
} 

.table td { 
    background-color: #444444;
    
} 

.nowrap {
    white-space: nowrap;
}

.table-bordered tbody, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th {
    border-color:#333333;
    border-width: medium medium thick medium;
    border-style:solid;
}

.table td.resultado, .table td.resultado_simples, .table td.progresso,  .table td.conformidade,
.table td.remover, .table td.pode_finalizar_analise{
    text-align: center;

}

.table td.progresso:after, .table td.conformidade:after  {
    content: '%';
  }


.table td.resultado > a, .table td.resultado_simples > a {
   
    text-decoration: none;
}
 
.modal{
    color:black !important;
 }

 .modal-header {
     background-color:  #000000;
     color:white !important;
     font-weight: bold;
 }

 .bootstrap-dialog.type-primary .modal-header {
    background-color:  rgba(6, 83, 250, 0.582);
    color:white !important;
    font-weight: bold;
}


 .btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: white;
}


.dropdown-menu {
    opacity: 1 !important;
    filter: alpha(opacity=100); /* IE5-8 */
    background-color: #444444
}

/*cores dos requisitos */

i.ausente {
    color:red;  
}
i.presente {
  color:green;  
}

i.na {
    color:white;     
}

i.parcial {
    color  : orange;    
}

i.nd {
    color: white;     
}

.badge{
    background-color: #222222;
    color: white;
}


.navbar-nav > .user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
    background-color: #444444;
}


 


.navbar-custom-menu > .navbar-nav > li {
    position: relative;
}



.navbar-nav > .user-menu > .dropdown-menu > .user-body {
    padding: 15px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
    background-color: #444444;
}
.navbar-nav > .user-menu > .dropdown-menu, .navbar-nav > .user-menu > .dropdown-menu > .user-body {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background-color: #444444;
    padding: 10px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    z-index: 5;
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    margin-top: 10px;
}


.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
}

.img-circle {
    border-radius: 50%;
}


navbar-nav > .user-menu > .dropdown-menu > .user-body {

    padding: 15px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
    color:white;

}
.navbar-nav > .user-menu > .dropdown-menu, .navbar-nav > .user-menu > .dropdown-menu > .user-body {

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

}


.navbar-nav > .user-menu > .dropdown-menu > .user-body a {

    color: white !important;

}
 