body {
    padding-top:60px;
    background-color:white;
    color: black;
    font-size: medium;
}


@media print { 
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    .navbar {
        display: block;
        border-width:0 !important;
    }
    .navbar-toggle {
        display:none;
    }

    .navbar-head{
        background:  #333333 !important;
    }
    .navbar-head-narrow{
        background: rgba(19,20,41,.6) !important;
    }
    .navbar-fixed-bottom, .navbar-fixed-top{
        position: relative !important;
        background: rgba(19,20,41,.6) !important;
    }

    .d-print-none { 
        display: none !important; 
   } 


}




 
@page {
    size: A4;
    margin: 0;
}

@page :first {

}

@page:right{
    @bottom-right {
      content: counter(page);
    }
  }
  
@page:left{
  @bottom-left {
    content: "Página " counter(page) " de " counter(pages);
  }
}


@page :right {
    @top-right {
      content: string(doctitle);
      margin: 30pt 0 10pt 0;
      font-size: 8pt;
    }
  }








.container  {
    width: 95% !important; /*    width: 1160px; */

}


.page-break { 
    page-break-before: always; 
}



.aldryn-people-article h2, .h1, .h2, .h3, .h4, .h5, .h6, .results-list h3, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: bold;
    line-height: 1.1;
    color: black;
}

/*
tabelas
*/
.table {
    border-color:#333333;
    border-width: thin;
    border-style:solid;
    width: 100%;
}
.table th, .table td { 
    padding: 5px; 
    border-color:#333333;
    border-style:solid;
    box-sizing: 30px;

    color: black;
   /* text-align: center;*/
   /* font-size: medium;*/
} 

.table th { 
    background-color : white;
    text-align: center;
    vertical-align: middle;
    
} 

.table td { 
    background-color: white;
   
    
} 

.nowrap {
    white-space: nowrap;
}

.table-bordered tbody, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th {
    border-color:#333333;
    border-width: thin;
    border-style:solid;
}

.table td.resultado, .table td.resultado_simples, .table td.progresso,  .table td.conformidade,
.table td.remover, .table td.pode_finalizar_analise{
    text-align: center;

}

.table td.resultado > a, .table td.resultado_simples > a {
   
    text-decoration: none;
}


.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #888888;
    color:black;
}

.table-striped > tbody > tr  {
    background-color:white;
    color:black;
}


.footer {
    color: #0b090d;
    width: 100%;
    position:absolute;
    bottom:0;
    background: white;
}

.footer-copyright {
    font-size: 14px;
    background: white;
}