{% load i18n staticfiles field_attrs %}

<div class="spacer spacer-xs"></div>

<div id="msg_container"></div>

<h3>Alteração de senha</h3>

<form name="form" id="form"  itens-formset-url="{% url 'accounts:change_password' %}"  
       data-url='{{ request.build_absolute_uri|safe }}'
       class="form my-ajax-form"   
       method='POST'
       enctype="multipart/form-data">


        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
        <div class="form-group row">
            {{ field.label_tag }}
            {{ field | attr:"class=form-control"  }}
            <span class="helptext">{{ field.help_text    }}</span>
            {{ field.errors }}
        </div>
        {% endfor %}
         

        <button type="submit" class="btn btn-primary btn-xs">Salvar</button>

</form>
      

{% block javascript  %}

<script languange="javascript">

var alert_template = '<div class="alert alert-success alert-dismissible" role="alert">' +
        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;' +
        '</span></button>'+ 
        '<strong>Aviso!</strong> <span>MESSSAGE</span></div>';

 $(document).ready(function(){
                var $myForm = $('.my-ajax-form');
                var url = $myForm.attr("itens-formset-url") ;
                

                
                $myForm.submit(function(event){
                        event.preventDefault()
                        var $formData = $(this).serialize()
                        var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
                        $.ajax({
                                method: "POST",
                                url: $thisURL,
                                data: $formData,
                                success: handleFormSuccess,
                                error: handleFormError,
                        })
                })
        
                function handleFormSuccess(data, textStatus, jqXHR){
                        //console.log(data)
                       // console.log(textStatus)
                       // console.log(jqXHR)

                        if(textStatus=='success'){
                                var msg = alert_template.replace("MESSSAGE", data["message"]);
                                
                                $("#msg_container").html(msg);


                                if ($("input").next('p').length) $("input").nextAll('p').empty();

                                data = data["errors"];
	                        for (var name in data) {
                                        for (var i in data[name]) {
                                                // object message error django
                                                var $input = $("input[name='"+ name +"']");
                                                $input.after("<p>" + data[name][i] + "</p>");
                                        }
                                }

                        }
                       // $myForm.reset(); // reset form data
                }
        
                function handleFormError(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);

                        if ($("input").next('p').length) $("input").nextAll('p').empty();

                        data = jqXHR.responseJSON;

                        $.each(data, function (key, value){
                                // object message error django
                                var $input = $("input[name='"+ key +"']");
                                $input.after("<p>" + value + "</p>");
                        });
                }
        })
</script>
                


 

 <script>

  $("#id_username").parent().find("label").html("Usuário");
  $("#id_old_password").parent().find("label").html("Senha atual");
  $("#id_new_password1").parent().find("label").html("Nova senha");
  $("#id_new_password2").parent().find("label").html("Confirmação da nova senha");
 
  </script>

 


{% endblock %}