{% extends "base.html" %}

{% load i18n staticfiles field_attrs %}

{% block content %}

<div class="row">
        <div class="col-sm-8 col-sm-offset-8">
            <h3>Informe seus dados de cadastro</h3>


            <form class="form" method="post">
            {% csrf_token %}

                {{ form.non_field_errors }}

                {% for field in form %}
                <div class="form-group row">
                    {{ field.label_tag }}
                    {{ field | attr:"class=form-control"  }}
                    <span class="helptext">{{ field.help_text    }}</span>
                    {{ field.errors }}
                </div>
                {% endfor %}

                
                <button type="submit" class="btn btn-primary mb-2">Entrar</button>
                
                
            <p>
                Não é cadastrado? Quer testar? <a class="link2"  href="{% url 'accounts:register' %}" title="">Cadastre-se.</a> <br />
                Esqueceu a senha? <a  class="link2" href="{% url 'accounts:password_reset' %}" title="">Nova senha</a> <br />  
            </p>
            </form>
         
</div>

</div>

{% endblock %}

{% block javascript %}

 <script>
  $("#id_username").parent().find("label").html("Usuário");
  $("#id_password").parent().find("label").html("Senha");

  </script>

{% endblock %}