{% extends 'base.html' %}


{% load i18n staticfiles field_attrs %}


{% block content %}


<div class="row">
    <div class="col-sm-8 col-sm-offset-8">
   
                <h3 >Recuperação de senha</h3>
        
                 
                <form class="form" method="post">
                    {% csrf_token %}
                
                        {{ form.non_field_errors }}

                        {% for field in form %}
                        <div class="form-group row">
                            {{ field.label_tag }}
                            {{ field | attr:"class=form-control"  }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}

                        
                        <button type="submit" class="btn btn-primary mb-2">Recuperar</button>
                        
                        
         
                </form>
          
    </div>

</div>

 
{% endblock %}




