{% load render_table from django_tables2 %}

{% load i18n staticfiles field_attrs %}


<form action="" id="ajax-form-profile" method="post"  class="form" enctype="multipart/form-data"
data-url='{{ request.build_absolute_uri|safe }}'>
        {% csrf_token %}
        {{ form.non_field_errors }}

 
        {% for field in form %}
        <div class="form-group row">
                <label for="{{ field.label }}">{{ field.label}}: 
                {% if field.field.required %}<span title="Campo obrigatório" class="special_class">*</span>{% endif %}
                </label>
                <span class="helptext">{{ field.help_text    }}</span>
                {{ field | attr:"class=form-control"  }}
                {{ field.errors }}
        </div>
        {% endfor %}
        <input type="button" class="btn btn-primary btn-xs" value="Salvar" id="btnSalvarProfile"/>
        <a class="btn btn-primary btn-xs"  href="#" id="btnCancelarProfile">Cancelar</a>
   
</form>
<i class="legenda">* Campo obrigatório</i>
<br>

 

<script>

{{ form.media }}


$("input[type=checkbox]").addClass("form-check-input");
$("input[type=checkbox]").removeClass("form-control");

  $("#btnCancelarProfile").click(function (){
      listarUsuarios();

  })


        var form_profile = $('#ajax-form-profile');

        $("#btnSalvarProfile").click(function (){
       
            form_profile.submit()
            })

        form_profile.submit(function(event){
                event.preventDefault()
                var $formData = $(this).serialize()
                var $thisURL = $(this).attr('data-url') || window.location.href // or set your own url
                $.ajax({
                        method: "POST",
                        url: $thisURL,
                        data: $formData,
                        success: function (data, textStatus, jqXHR){
                                    if(textStatus=='success'){
                                        var cpf = $("#id_cpf").val();
                                        var nome = $("#id_nome").val();
                                        var data = {'value' : data.pk, 'text' : nome + " ("+ cpf+ ")" }

                                        BootstrapDialog.alert({title: 'Mensagem',   message : "Dados salvos com sucesso."});

                                        listarUsuarios();
                                    }

                            },
                        error: function (jqXHR, textStatus, errorThrown){
                                if ($("input").next('p').length) $("input").nextAll('p').empty();
                                data = jqXHR.responseJSON;
                                $.each(data, function (key, value){
                                        // object message error django
                                        var $input = $("input[name='"+ key +"']");
                                        $input.after("<p>" + value + "</p>");
                                });
                        },
                })
        })
        
        
</script>