{% extends "base.html" %}

{% load i18n staticfiles field_attrs %}

{% block content %}
 
<div class="row">
        <div class="col-xs-8"></div>
        <div class="col-xs-6">
                <div id="container"></div>
        </div>
 
</div>
 

{% endblock %}

{% block javascript %}

<script>

{{ form.media }}
   
        

var url = "{%url 'accounts:change_password'%}";

$("#container").html("Carregando...")
$("#container").load(url);



</script>


{% endblock %}