{% extends "base.html" %}
{% load i18n staticfiles field_attrs %}


{% block content %}

<div class="row" id="termo_uso">
    <div class="col-sm-18 col-sm-offset-3">

       
        
        
    
        <p style="text-align: center;">&nbsp;</p>

<h3 style="text-align: center;">TERMOS DE USO</h3>

<p style="text-align: center;">&nbsp;</p>

<p>Prezado&nbsp;<span style="font-size: 11.0pt;"><span style="line-height: 107%;"><span style="">cliente</span></span></span>,</p>

<p ><span ><span ><span >Seu interesse em conhecer nossa plataforma Construflix muito nos honra. Dessa forma, vamos liberar a utilização nos termos abaixo discriminados.</span></span></span></p>

<p ><span ><span ><span >A plataforma ainda está em desenvolvimento, então é necessário compreender e considerar que você estará usando uma <b>versão para teste</b>. Vamos disponibilizar o acesso para uso gratuito até que todos os trâmites, funcionalidades e validações estejam resolvidos, quando então ela passará a funcionar na versão paga, devendo os interessados efetuar a assinatura para dar continuidade à sua utilização, caso tenham interesse. </span></span></span></p>

<p ><span ><span ><span >Fique tranquilo, pois informaremos com antecedência quando a versão ora disponibilizada começará a ser paga,&nbsp; nada será feito sem a anuência expressa do cliente.</span></span></span></p>

<p ><span ><span ><span >Mesmo diante de uma versão disponibilizada para teste, é importe que exista uma segurança para as partes, por isso serão estabelecidos alguns compromissos mútuos para os quais solicitamos seu aceite expresso para podermos prosseguir.</span></span></span></p>

<p ><span ><span ><span ><b>NOSSAS OBRIGAÇÕES</b></span></span></span></p>

<ul>
	<li ><span ><span ><span >Fornecer acesso <b>gratuito</b> temporariamente, para 1(um) assinante, devidamente cadastrado.</span></span></span></li>
	<li ><span ><span ><span >Ao término do período gratuito, que pode ocorrer a qualquer momento, a CONSTRUFLIX se compromete a realizar a comunicação prévia de 15 dias, momento em que o cliente optará pela continuidade ou não do serviço, escolhendo o plano mais adequado à sua necessidade. Não optando o cliente pela forma onerosa de utilização do serviço a senha disponibilizada será bloqueada, cessando o uso. </span></span></span></li>
	<li style="margin-top: 12.0pt; margin-right: 0cm; margin-bottom: 6.0pt; text-align: justify; margin: 0cm 0cm 8pt 36pt;"><span ><span ><span >Os dados processados durante o seu período de teste não poderão ser reclamados ou solicitados. Caso queira salvar as análises feitas, poderá usar as ferramentas disponíveis de impressão de relatórios.</span></span></span></li>
</ul>

<p ><span ><span ><span ><b>SUAS OBRIGAÇÕES</b></span></span></span></p>

<ul>
	<li ><span ><span ><span >O cliente poderá usufruir gratuitamente do Construflix<span style="">®</span>, na condição de assinante colaborador voluntário no desenvolvimento da plataforma utilizando os recursos, enviando suas impressões, sugestões e dúvidas, de forma que possamos aprimorar as ferramentas após análise das solicitações, conforme nossa conveniência e capacidade técnica.</span></span></span></li>
	<li ><span ><span ><span >Ao se cadastrar, estará na condição de <b>assinante</b> e poderá cadastrar até 2 <b>usuários</b> da <b>mesma organização/empresa</b> que a sua, para uso simultâneo das aplicações disponíveis. Não se preocupe com o termo ‘<b>assinante</b>’, é a palavra que usamos no sistema para diferenciar ‘assinante’ de ‘usuário’, que têm autonomias distintas; não significa que está assinando a plataforma neste momento, portanto, não haverá nenhum custo para você nesta versão de teste.</span></span></span></li>
	<li ><span ><span ><span >O cliente se compromete em não fornecer seu login e senha de acesso para uso por outras pessoas ou organizações. Informamos que monitoramos estas situações e o acesso poderá ser bloqueado.</span></span></span></li>
	<li ><span ><span ><span >O cliente deverá considerar esta concessão um ato de confiança dos proprietários do Construflix, reconhecendo que:</span></span></span>
	<ul style="">
		<li ><span ><span ><span >a plataforma e todos seus direitos pertencem a<span style="color: null;"> Fausto Carraro (ou outra forma jurídica a ele associada)</span><span style="color: red;"> </span>e; </span></span></span></li>
		<li style="margin-top: 12.0pt; margin-right: 0cm; text-align: justify;"><span ><span ><span >a plataforma está em desenvolvimento, portanto, sujeita a ajustes, complementos e correções, comprometendo-se em utilizá-la de forma idônea, responsável e justa, sem prejuízo dos interesses de seu criador e demais partes interessadas (desenvolvedores, investidores etc.), responsabilizando-se, ainda, pelos usuários cadastrados pelo cliente.</span></span></span></li>
	</ul>
	</li>
</ul>

<ul>
	<li ><span ><span ><span >O cliente poderá usar a plataforma única e exclusivamente na condição de potencial assinante e usuário colaborador na melhoria das aplicações e seus recursos, sem prejudicar a intenção original, qual seja, fornecer ferramentas práticas e confiáveis relacionadas aos assuntos da Qualidade e Desempenho das edificações aos interessados da cadeia da construção.</span></span></span></li>
	<li ><span ><span ><span >O cliente autoriza expressamente, para fins de divulgação, o uso de sua imagem corporativa como cliente/usuário do Construflix, fornecendo logomarca da empresa a qual está vinculado. Qualquer uso que porventura fizermos de sua imagem corporativa que você ou sua empresa considerem inapropriado, será suspenso mediante comunicação formal a nós (Construflix). Poderemos negociar a forma adequada de uso ou simplesmente suspendê-lo. Neste caso, Construflix se reserva o direito de interromper o acesso gratuito de uso da nossa plataforma, sem necessidade do aviso prévio de 15 dias. </span></span></span></li>
	<li style="margin-top: 0cm; margin-right: 0cm; text-align: justify; margin: 0cm 0cm 8pt 36pt;"><span ><span ><span >Após se cadastrar, enviaremos um e-mail solicitando sua logomarca que deverá ser enviada em até 24h. Ao fim deste tempo, o acesso será interrompido caso a logomarca não seja enviada.</span></span></span></li>
</ul>

<p ><span ><span ><span >Após ler os termos acima, se concordar clique no botão apropriado (“Sim”) para iniciar seu cadastro. Se não concordar, clique no botão “Não”.</span></span></span></p>

<p ><span ><span ><span >Temos certeza que gostarão muito da experiência e que a Construflix será um grande apoio para a melhoria da qualidade e do desempenho das edificações que você projeta ou executa.</span></span></span></p>

<p ><span ><span ><span >Obrigado.</span></span></span></p>

<p ><span ><span ><span >Equipe Construflix.</span></span></span></p>

    <br><br>
        Concorda com termo de uso? &nbsp;&nbsp;
        <button type="button" id="btnConcordo" class="btn btn-primary">Sim</button>
        <button type="button" id="btnNaoConcordo" class="btn btn-primary">Não</button>

    </div>
</div>

<div class="row" id="cadastro" style="display:none">
    <div class="col-sm-18 col-sm-offset-3">
 
                <h3>Informe seus dados</h3>
              

                    <form class="form" method="post" role="form">
                        {% csrf_token %}

                        <input type="hidden" name="concorda" value="1">
                        <fieldset>
                            {{ form.non_field_errors }}

                            {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.label }}">{{ field.label}}: 
                                    {% if field.field.required %}<span title="Campo obrigatório" class="special_class">*</span>{% endif %}
                                    </label>
                                    <span class="helptext">{{ field.help_text    }}</span>
                                    {{ field | attr:"class=form-control"  }}
                                    {{ field.errors }}
                            </div>
                            {% endfor %}

                         
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                        
                        </fieldset>
                    </form>
                    <i class="legenda">* Campo obrigatório</i>

                
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>

$(document).ready(function() {

 {%if concorda %}
        $("#cadastro").show();
        $("#termo_uso").hide();
 {% else %}
        $("#cadastro").hide();
        $("#termo_uso").show();
{% endif %}

    $("#btnConcordo").click(function (){
        $("#cadastro").show();
        $("#termo_uso").hide();
    })

    $("#btnNaoConcordo").click(function (){
        window.location.href = "/";
    })


    $("input[type=number]").keydown(function(event) {
        
        // Allow: backspace, delete, tab, escape, and enter
        if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
            // Allow: Ctrl+A
            (event.keyCode == 65 && event.ctrlKey === true) ||
            // Allow: home, end, left, right
            (event.keyCode >= 35 && event.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        } else {
            // Ensure that it is a number and stop the keypress
            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                event.preventDefault();
            }
        }
    });

    $("input[type=number]").attr('type', 'text');

});
</script>
{% endblock %}