<!doctype html>{% load i18n staticfiles cms_tags sekizai_tags %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% block title %}
        Construflix {{ request.site.name }} - {% page_attribute page_title %} 
        {% endblock title %}
    </title>
    {% block meta_tags %}
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="google-site-verification" content="f4G8anUdI_nrYTN0Xtv9i562WddFtpdEWpLxNToseGA" />
        
        <meta name="description" content="{% spaceless %}
            {% block meta_description %}
                {% page_attribute meta_description %}
            {% endblock %}
        {% endspaceless %}">
    {% endblock meta_tags %}
    <link rel="apple-touch-icon" href="{% static 'construflix12.jpg' %}">
    <link rel="icon" type="image/jpg" href="{% static 'construflix12.jpg' %}">
    <!--[if IE]><link rel="shortcut icon" href="{% static 'favicon.ico' %}"><![endif]-->
 

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}">

 
    <link rel="stylesheet" href="{% static 'css/box.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-dialog.min.css' %}">


    <link rel="stylesheet" href="{% static 'css/custom.css' %}">


    {% render_block "css" %}
    <!--[if lt IE 9]>
    <script src="{% static 'js/libs/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/libs/respond.min.js' %}"></script>
    <![endif]-->
    {% block extrahead %}{% endblock %}
    {{ ALDRYN_SNAKE.render_head }}
</head>
<body id="page-top" class="noscript lang-{{ LANGUAGE_CODE }} {% block body_class %}tpl-root{% endblock %}">
{% include "includes/analytics.html" %}
{% cms_toolbar %}

{% block extend_root %}{% endblock %}

<script src="{% static 'js/libs/jquery.min.js' %}"></script>
<script src="{% static 'js/libs/jquery.form.js' %}"></script>
<script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
<script src="{% static 'js/libs/bootstrap-affix.js' %}"></script>


<script src="{% static 'js/jquery.formset.js' %}"></script>

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/locales/pt-br.js' %}"></script>

<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'locales/bootstrap-datepicker.pt-BR.min.js' %}"></script>

<script src="{% static 'js/libs/class.min.js' %}"></script>
<script src="{% static 'js/libs/outdatedBrowser.min.js' %}"></script>
<script src="{% static 'js/bootstrap-dialog.min.js' %}"></script>
<script src="{% static 'js/addons/cl.utils.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% block javascript  %}{% endblock %}
{% render_block "js" %}
{% block extrafoot %}{% endblock %}
{{ ALDRYN_SNAKE.render_tail }}
<div class="browser-outdated" id="outdated" hidden="hidden">
    <noscript><h3>{% trans "Please enable JavaScript" %}</h3></noscript>
    <h3>{% trans "Your browser is out-of-date!" %}</h3>
    <p>{% trans "Update your browser to view this website correctly." %}</p>
    <p>
        <a href="http://outdatedbrowser.com/" class="btn btn-lg btn-outline" id="btnUpdateBrowser">
            {% trans "Update my browser now" %}
        </a>
    </p>
    <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
</div>




</body>
</html>
