{% extends "base_root.html" %}
{% load i18n staticfiles cms_tags menu_tags sekizai_tags field_attrs %}

{% block body_class %}tpl-base{% endblock %}

{% block extend_root %}
{% block header %}
{# INFO: navbar concept: http://getbootstrap.com/components/#navbar #}
<header class="navbar navbar-head js-navbar-head navbar-inverse navbar-fixed-top">
    <div class="container">
        {# INFO: the logo should be placed first for seo reasons #}
        <div class="navbar-header">
            {# INFO: the logo should be placed first for seo reasons #}
            <h1 class="navbar-brand">
                <a href="/">
                    <span class="sr-only">{{ request.site.name }}</span>
                    <img src="{% static "img/logo-main@print.png" %}" alt="{{ request.site.name }}" />
                

               
                </a>
            </h1>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".js-navbar-header">
                {% for row in 123|make_list %}<span class="icon-bar"></span>{% endfor %}
            </button>
        </div>

        {# INFO: ensure the anchor names are callable #}
        <h2 class="sr-only">{% trans "Shortcuts" %}</h2>

        <ul class="skip-links">
            <li><a href="/" title="[Alt + 0]" accesskey="0">{% trans "Go to home" %}</a></li>
            <li><a href="#navigation" title="[Alt + 1]" accesskey="1">{% trans "Jump to navigation" %}</a></li>
            <li><a href="#content" title="[Alt + 2]" accesskey="2">{% trans "Jump to content" %}</a></li>
            <li><a href="#footer" title="[Alt + 3]" accesskey="3">{% trans "Contact" %}</a></li>
        </ul>

        <div class="navbar-collapse collapse js-navbar-header">
            {% block navbar %}
            <nav class="nav navbar-main navbar-right" id="navigation">
                <h2 class="sr-only">{% trans "Navigation" %}</h2>
                {% render_model_block request.current_page "changelist" %}
                {% with dropdown="true" %}
                <ul class="nav navbar-nav">
                    {% show_menu 0 0 0 0 "includes/menu/navigation.html" %}
                    <li class="divider" role="presentation"><span class="sr-only">{% trans "Separator" %}</span></li>
                    {% show_menu_below_id "meta" 0 0 0 0 "includes/menu/navigation.html" %}
                    {% language_chooser "includes/menu/langnav.html" "native" %}
                    {% show_menu 0 0 0 0 "includes/menu/user-profile.html" %}
                </ul>

                {% endwith %}
                {% endrender_model_block %}
            </nav>
            {% endblock navbar %}
        </div>
    </div>
</header>
{% endblock header %}

<!-- start: content -->
<hr class="sr-only" />


{% block breadcrumb %}
{% if not request.current_page.is_home %}
<!-- start: breadcrumb -->
{# INFO: breadcrumb concept: http://getbootstrap.com/components/#breadcrumbs #}
<nav class="navbar navbar-breadcrumb" role="navigation">
    <h3 class="sr-only">{% trans "You are here" %}</h3>
    <div class="container">
        <ol class="breadcrumb">
            {% block extend_breadcrumb %}
            {% show_breadcrumb 0 "includes/menu/breadcrumb.html" %}
            {% endblock extend_breadcrumb %}
        </ol>
    </div>
</nav>
<!-- end: breadcrumb -->
{% endif %}
{% endblock breadcrumb %}

{% block messages %}
{% if messages %}
<!-- start: messages -->
<div class="container">
    {% include "includes/messages.html" %}
</div>
<!-- end: messages -->
{% endif %}
{% endblock messages %}

{% block extend_base %}

<div class="container-fluid">
        
        {% block content %}{% endblock %}

    </div>     
    
{% endblock extend_base %}
<hr class="sr-only" />


<!-- end: content -->

{% block footer %}



<!-- start: footer -->
<footer class="footer">
    <h2 class="sr-only" id="footer">{% trans "Sitemap" %}</h2>

    <div class="footer-copyright">
        <div class="container">
            <p class="footer-logo">
                <a href="/" target="_blank">
                <!--<img src="{% static 'img/logo-aldryn.svg' %}" alt="Aldryn" />-->
                

                
             </a>
            </p>
            {% render_model_block request.current_page "changelist" %}
            <ul class="list-inline">
                <li class="pull-right"><a href="#page-top" data-spy="scroll">{% trans "Back to top" %} <span class="fa fa-right fa-arrow-up"></span></a></li>
                {% show_menu_below_id "footer" 0 0 100 100 "includes/menu/navigation.html" %}
            </ul>
            {% endrender_model_block %}
            {% static_placeholder "footer" %}
        </div>
    </div>

    <div class="footer-theme">
        <div class="container">
            {% static_placeholder "footer-theme" %}
        </div>
    </div>
</footer>
<!-- end: footer -->
{% endblock footer %}

{% addtoblock "js" %}
<script src="{% static 'js/addons/cl.explorer.js' %}"></script>

<script type="text/javascript">
    // Define this so we don't have to bother with the admin jsi18n stuff:
    function gettext(msgid) { return msgid; }
</script>

<script>

        $( document ).ready(function() {
            /*
                $( "input[type='text']" ).addClass( "form-control" );
                $( "select" ).addClass( "form-control" );
                $( "textarea" ).addClass( "form-control" );
            */
        });

 
</script>


{% endaddtoblock %}






{% endblock extend_root %}
