{% extends 'base.html' %}
{% load i18n staticfiles cms_tags %}

{% block breadcrumb %}{% endblock %}


{% block content %}
    
        {% placeholder jumbotron or %}
                <div class="feature-visual">
                    <img src="{% static 'img/visuals/feature-default.jpg' %}" alt="">
                </div>
                <div class="feature-content text-center">
                    <div class="spacer spacer-xs">&nbsp;</div>
                    <h1>{% trans "Checklist - Análises de Projetos" %}</h1>
                </div>
         {% endplaceholder %}

         

         {% placeholder conteudo %}



{% endblock %}