{% extends "base_root.html" %}
{% load i18n staticfiles cms_tags menu_tags sekizai_tags field_attrs %}

{% block body_class %}tpl-base{% endblock %}

{% block extend_root %}
{% block header %}

<link rel="stylesheet" href="{% static 'css/print.css' %}">

<header class="navbar navbar-head js-navbar-head navbar-inverse navbar-fixed-top">
    <div class="container">
        {# INFO: the logo should be placed first for seo reasons #}
        <div class="navbar-header">
                    <!--img src="{% static "img/logo-print.png" %}" alt="{{ request.site.name }}" /-->
        </div>
 
    </div>
</header>

{% endblock header %}

 

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block messages %}
{% endblock messages %}

{% block extend_base %}
        {% block content %}{% endblock %}
{% endblock extend_base %}
<hr class="sr-only" />


<!-- end: content -->

{% block footer %}

<!-- start: footer -->
<footer class="footer">
    <h2 class="sr-only" id="footer">{% trans "Sitemap" %}</h2>


    <div class="footer-copyright">
        
        <div class="container">
            <p class="footer-logo"></p>  
            <center>
            <small>@ 2018 CONSTRUFLIX LTDA - As informações contidas neste relatório são de responsabilidade de seu emissor, 
                utilizando a plataforma Construflix. </small>              
            <p>   <small>Para maiores informações, visite <b> http://construflix.com.br</b></small>    </p>  </center>
       
            </div>
    </div>
</footer>
<!-- end: footer -->
{% endblock footer %}

{% addtoblock "js" %}
<script src="{% static 'js/addons/cl.explorer.js' %}"></script>

<script type="text/javascript">
    // Define this so we don't have to bother with the admin jsi18n stuff:
    function gettext(msgid) { return msgid; }
</script>

<script>

        $( document ).ready(function() {
            /*
                $( "input[type='text']" ).addClass( "form-control" );
                $( "select" ).addClass( "form-control" );
                $( "textarea" ).addClass( "form-control" );
            */
        });

 
</script>


{% endaddtoblock %}






{% endblock extend_root %}