<h1>{{ instance.checklist.descricao }}</h1>

<form action="{% url 'polls:vote' instance.checklist.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        {% for choice in instance.checklist.choice_set.all %}
            <div class="radio">
                <label>
                    <input type="radio" name="choice" value="{{ checklist.id }}">
                    {{ choice.choice_text }}
                </label>
            </div>
        {% endfor %}
    </div>
    <input type="submit" value="Vote" />
</form>