{% block checklist_content %}

<form name="form" id="form"  itens-formset-url="{% url 'Checklists:itens_avaliacao_formset' %}"  
       data-url='{{ request.build_absolute_uri|safe }}'
       class="form my-ajax-form"   
       method='POST'
       enctype="multipart/form-data">
        
    
    {% csrf_token %}

<br>
<div     id="form_avaliacao" class="form"  style="display:none">

        {% csrf_token %}
        <div class="box box-primary">
                <div class="box-header"><b>Análise - Cadastro</b></div>
                <div class="box-body">
                        
                                {{ form.non_field_errors }}

                                <input type="hidden" name="id" value="{{ avaliacao.pk }}">



                                <div class="form-group">
                                                {{ form.projeto.errors }}
                                                {{ form.projeto.label_tag }}
                                                {{ avaliacao.projeto }}
        
                                </div>  

                                <div class="form-group">
                                                {{ form.checklist.errors }}
                                                {{ form.checklist.label_tag }}
                                                {{ avaliacao.checklist }}
                                                <div class="help_text">
                                                  <i>   {{ avaliacao.checklist.descricao }} </i>
                                                </div>
        
                                </div>  

                                <div class="form-group">
                                        {{ form.descricao.errors }}
                                        {{ form.descricao.label_tag }}
                                        {{ form.descricao }}



                                </div>   



                        </div>
                        
                        <input type="submit" class="btn btn-primary btn-xs" value="Salvar" id="btn_salvar_analise" />
                        <a class="btn btn-primary btn-xs" href="#" id="btn_cancelar_analise">Cancelar Edição</a><br>
        
        </div>
</div>


<input type="hidden" name="finalizar" id="id_finalizar">
<input type="hidden" name="ic_editar_avaliacao" id="ic_editar_avaliacao">

{{ form.non_field_errors }}

{# Include the hidden fields #}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}

  <div id="form_itens">      
  

        <div id="box_avaliacao" class="box box-primary "  >
                <div class="box-header position-top">
                        Análise -  {{avaliacao.checklist}}
                        &nbsp;&nbsp;                       


                        <div class="box-tools pull-right">
                                <button id="btnMinMax" type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                </button>
                                <div class="btn-group" title="Filtrar itens">
                                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-filter"></i>&nbsp; <span id="label_filtro">Todos <span class="badge badge-todos">0</span></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                        <li><a class="link-filter" data-action="todos" id="link-filter-todos">Todos <span  class="badge badge-todos">0</span></a>  </li>
                                                        <li><a class="link-filter" data-action="presente">Presente <span  class="badge badge-presente">0</span></a></li>
                                                        <li><a class="link-filter" data-action="parcial">Parcial <span  class="badge badge-parcial">0</span></a></li>
                                                        <li><a class="link-filter" data-action="ausente">Ausente <span  class="badge badge-ausente">0</span></a></li>
                                                        <li><a class="link-filter" data-action="na">Não se aplica <span  class="badge badge-na">0</span></a></li>
                                                        <li><a class="link-filter" data-action="nd">Não analisado <span   class="badge badge-nd">0</span></a></li>
                                                              
                                                        
                                                </ul>
                                    </div>

                                <div class="btn-group">

                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-cogs"></i></button>
                                        <ul class="dropdown-menu" role="menu">
                                        <li><a class="link-action" data-action="evolucao"  href="{% url 'Checklists:avaliacao_evolucao' avaliacao.pk %}">Histórico de evolução</a></li>
                                        <li><a class="link-action" data-action="relatorio_simplificado"  href="{% url 'Checklists:avaliacao_pendencias' avaliacao.pk %}">Relatório Simplificado</a></li>
                                        <li><a class="link-action" data-action="relatorio_completo"  href="{% url 'Checklists:results_avaliacao' avaliacao.pk %}">Relatório Completo</a></li>                   
                                        <li class="divider"></li>
                                        <li><a class="link-action" data-action="refresh" href="#">Atualizar análise</a></li>

                                        {%for action in actions %}
                                                <li><a class="link-action" data-action="{{action.action}}" ref="#">{{action.title}}</a></li>
                                        {%endfor%}

                                        {%if  pode_editar%}
                                        <li><a class="link-action" data-action="edit" href="#">Editar definição da análise</a></li>
                                        {%endif%}


                                        <li class="divider"></li>

                                        <li><a class="link-action" data-action="voltar" href="#">Voltar</a></li>
                                         
                                        
                                        </ul>
                                </div>
                        </div>



                </div>
                <div class="box-body">
                        <div class="form">

                                <div class="form-group row">
                                                 
                                        <label class="col-sm-24 col-md-5">Empreendimento</label>
                                        <div class="col-sm-24 col-md-19">
                                                        {{avaliacao.empreendimento}}
                                        </div>
                          
                                
                                </div>

                                <div class="form-group row">
                                        <label class="col-sm-24 col-md-5">Atividade Técnica</label>
                                        <div class="col-sm-24 col-md-19">
                                                        {{avaliacao.atividade_tecnica}}
                                        </div>
                                        
                                        
                                </div>
                                <div class="form-group row">
                                        <label class="col-sm-24 col-md-5">Etapa Projeto</label>
                                        <div class="col-sm-24 col-md-19">
                                        {{avaliacao.etapa_projeto}}
                                        </div>
                                </div>
                                {%if  projetistas %}
                                <div class="form-group row">
                                        <label class="col-sm-24 col-md-5">Projetista(s)</label>
                                        <div class="col-sm-24 col-md-19">

                                                {%for projetista in  projetistas%}
                                                        {{projetista}} <br>
                                                {%endfor%}
                                        </div>
                                                
                                </div>
                                {%endif%}

                        </div>
                               
                      
                </div>
                <div class="box-footer">
                   <div class="row">
                        <div class="col-xs-24 col-sm-16">
                                <b>Data de criação: </b>&nbsp;
                                <i id="created">{{avaliacao.created |  date:'d/m/Y  H:i'}}</i>&nbsp;&nbsp;
                                {% if avaliacao.modified %}
                                <b>Última alteração: </b>&nbsp;
                                <i id="modified">{{avaliacao.modified |  date:'d/m/Y  H:i'}}</i>&nbsp;&nbsp;
                                {% endif %}

                                
                        </div>
                        <div class="col-xs-24 col-sm-8">
                                <div class="form-inline  text-right">
                                        <b>Progresso: </b>&nbsp;
                                        <i id="progresso">{{avaliacao.progresso}}</i>&nbsp;%&nbsp;

                                        <b>Nível de Presença: </b>&nbsp;
                                        <i id="conformidade">{{avaliacao.conformidade}}</i>&nbsp;%&nbsp;
                                </div>
                        </div>
                    </div>
                </div>
        </div>
         
        <div id="msg_container"></div>
      
        <div class="spacer spacer-xs"></div>


        <div id="itens_avaliacao"></div>

        <div class="pull-right">
                {%if  pode_editar%}
                <button type="button" class="btn btn-default btn-xs" id="btnSalvarEvolucao"
                   title="Clique neste botão caso queira salvar a evolução atual da análise">
                    <i class="fa fa-save"></i> Salvar evolução
                </button>&nbsp;  &nbsp;
                {% endif %}

                {%if pode_finalizar and pode_editar%}
                        <button type="button" class="btn btn-default btn-xs" id="btnFinalizarAnalise" name="btnFinalizarAnalise"
                        title="Clique neste botão caso queira finalizar a análise. Somente usuário com permissão poderão reeditá-la." >
                        <i class="fa fa-hourglass-end"></i> Finalizar análise
                        </button>&nbsp;  &nbsp;
                {% endif %}
               
                <a class="btn btn-primary btn-xs" id="btn_voltar"><i class="fa fa-undo"></i> Voltar</a> &nbsp; &nbsp;
                
        </div>
    </div>   
</form>
       
<!--Modal-->
<div id="smallModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmação</h4>
            </div>
            <div class="modal-body">
                <p>Add the <code>.modal-sm</code> class on <code>.modal-dialog</code> to create this small modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-xs btn-ok">OK</button>
            </div>
        </div>
    </div>
</div>


  <br>
 
{% endblock %}


{% block javascript  %}

<style>
        .affix {
                top: 120px;
                z-index: 9999 !important;
            }

            /* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
        position: fixed;
        left: 100px;
        top: 0px;
        z-index: 9999 !important;
        width: 87%;
      }
      
      /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
      .sticky + .content {
        padding-top: 102px;
      }

</style>

<script languange="javascript">

// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("box_avaliacao");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {

   if (  $("#btnMinMax i").attr("class") == "fa fa-minus"){
        $("#btnMinMax").click();
   }
        

  // $('#box_avaliacao .box-body').collapse('hide');
  // $('#box_avaliacao .box-footer').collapse('hide');
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
    $("#btnMinMax").click();
    //$('#box_avaliacao .box-body').collapse('show')
   // $('#box_avaliacao .box-footer').collapse('show');

  }
} 


/*
                $('#box_avaliacao').affix({
                        offset: {
                          top: 120,
                          bottom: function () {
                            return  (this.bottom = $('.footer').outerHeight(true))
                          }
                        }
                      })

                      */


        var $myForm ;
        var avaliacao_id = {{ avaliacao.pk }};

        var pode_editar  = '{{pode_editar}}' == "True";

        $(".box").activateBox();


        var alert_template = '<div class="alert alert-success alert-dismissible" role="alert">' +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;' +
                '</span></button>'+ 
                '<strong>Aviso!</strong> <span>MESSSAGE</span></div>';


        function atualizarEstatisticas(){
                var url = "{% url 'Checklists:obter_estatisticas_avaliacao' %}";
                var data = "id=" + avaliacao_id;

                $.ajax({
                        type: "POST",
                        url: url,
                        data: data,
                        success: function (result){
                                console.log(result);
                                data = result["estatisticas"];

                                $("#modified").html(data["modified"]);

                                $("#progresso").html(data["progresso"]);
                                $("#conformidade").html(data["conformidade"]);
                        },
                        dataType: 'json'
                })
        }

        function mostrarHistoricoEvolucao(obj){
               
                var url = $(obj).attr("href");

                BootstrapDialog.show({
                        title: "Evolução da análise",
                        message: $('<div></div>').load(url),
                        buttons: [{
                                        label: 'Fechar',
                                        cssClass: 'btn-primary btn-xs',
                                        action: function(dialogItself){
                                                dialogItself.close();
                                        }
                        }]
                });


                return false;
        }

        function atualizarItensDaAvaliacao(){

                console.log("refresh");
                var url = $myForm.attr("itens-formset-url") + "?avaliacao_id=" + avaliacao_id + "&pode_editar=" + pode_editar;
                $("#itens_avaliacao").load(url);

                {%if  pode_editar%}
                        $( "select" ).prop( "disabled", true );
                        $( "textarea" ).prop( "disabled", true );
                        $( "input" ).prop( "disabled", true );
                {% endif%}

        }




        $(document).ready(function(){
                 $myForm = $('.my-ajax-form');



                        $("#btn_cancelar_analise").click(function(){
                                //cancelar edicao
                                $("#form_avaliacao").hide();
                                $("#form_itens").show();
                                $("#ic_editar_avaliacao").val("");
                        });

                        $("#btn_voltar").click(function(){
                                carregarAplicacoes();
                        });


                        $(".link-action").click(function(event){
                                event.stopPropagation();
                                

                                var acao = $(this).attr("data-action");

                                switch (acao){
                                        case "evolucao": 
                                                mostrarHistoricoEvolucao(this);
                                                break;
                                        case "relatorio_completo": 
                                                visualizarRelatorio(this);
                                                break;
                                        case "relatorio_simplificado": 
                                                visualizarRelatorio(this);
                                                break;
                                        case "salvar_progresso": 
                                                $("#btnSalvarEvolucao").click();
                                                break;
                                        case "finalizar": 
                                                $("#btnFinalizarAnalise").click();
                                                break;
                                        case "voltar": 
                                                carregarAplicacoes();
                                                break;
                                                
                                        case "edit":
                                                $("#form_avaliacao").show();
                                                $("#form_itens").hide();
                                                $("#ic_editar_avaliacao").val("S");
                                                $( "textarea" ).prop( "disabled", false );
                                                $( "input" ).prop( "disabled", false );
                                                break;

                                        case "cancelar":
                                                var url = "{% url 'Checklists:avaliacao_cancelar' %}";
                                                var data = "id=" + avaliacao_id;
                                                BootstrapDialog.show({
                                                        title: 'Confirmação',
                                                        message: 'Deseja cancelar análise?',
                                                        buttons: [  {

                                                                        label: 'Não',
                                                                        cssClass: 'btn-primary btn-xs',
                                                                        icon: 'glyphicon glyphicon-ban-circle',
                                                                        action: function(dialogItself){
                                                                                dialogItself.close();
                                                                        }
                                                                },

                                                                {
                                                                label: 'Sim',
                                                                icon:  "glyphicon glyphicon-ok",
                                                                // no title as it is optional
                                                                cssClass: 'btn-primary btn-xs',
                                                                data: data,
                                                                action: function(dialogItself){
                                                                        $.ajax({type: "POST", url: url , data:data, success: function(result){
                                                                                dialogItself.close();
                                                                                BootstrapDialog.alert(result.message);
                                                                                filtrarLista();
                                                                        }});
                                                                       
                                                                        
                                                                }
                                                        
                                                        }]
                                                });
                                                break;
                                        case "refresh": 
                                                 atualizarEstatisticas();
                                                 atualizarItensDaAvaliacao();
                                                BootstrapDialog.alert('Análise atualizada.' );
                                                break;

                                }
                                return false;
                        });


                        

                       
               
                       

                        //nao permitir alterar campo produto
                        //$("#id_produto").attr("readonly", true);
                       // $("#id_produto").attr("disabled", true);
                       $("#id_produto").hide();

                
                        $("#btnSalvarEvolucao").click(function(){

                                BootstrapDialog.show({
                                message: 'Deseja salvar a evolução atual da análise? <br>Comentário <br><textarea class="form-control" placeholder="Informe um comentário" id="comentario" cols=60 rows=3></textarea>',
                                title: "Confirmação",
                                buttons: [{
                                        label: 'Não',
                                        icon: 'glyphicon glyphicon-ban-circle',
                                        cssClass: 'btn-primary btn-xs',
                                        action: function(dialogItself){
                                                dialogItself.close();
                                        }
                                },  {
                                        
                                        label: 'Sim',
                                        icon:  "glyphicon glyphicon-ok",
                                        cssClass: 'btn-primary btn-xs',
                                        action: function(dialogItself){

                                                        console.log(dialogItself);

                                                       var comentario = $("#comentario").val();

      
                                                        var url = "{% url 'Checklists:avaliacao_salvar_evolucao' %}";
                                                        var data = "id=" + avaliacao_id + "&comentario=" + comentario;

                                                        $.ajax({
                                                                type: "POST",
                                                                url: url,
                                                                data: data,
                                                                success: function (result){
                                                                        var msg = alert_template.replace("MESSSAGE", "Evolução salva com sucesso.");
                                                                        $("#msg_container").html(msg);
                                                                        dialogItself.close();
                                                                },
                                                                dataType: 'json'
                                                        })
                                        }
                                }]
                                });


                               


                        });
                        

                        

                        $("#btnFinalizarAnalise").click(function(){

                                var mensagem = "Deseja finalizar esta análise? \n";
                                var existe_requisitos_ausentes = false;

                                $("select").each(function(){
                                        select = $(this);
                                        if (select.val() != 'presente' && select.val() != 'na'){
                                                existe_requisitos_ausentes = true;
                                        }
                                })

                                if (existe_requisitos_ausentes){
                                        mensagem = "Existe(m) requisito(s) ausente(s) e/ou parcialmente presente(s).\n\n" + mensagem;
                                }



                                $("#smallModal").modal("show");
                                $('#smallModal').css("z-index", "1500");

                                $('#smallModal .modal-title').html("Confirmação");

                                $('#smallModal .modal-dialog').removeClass("modal-lg");
                                $('#smallModal .modal-dialog').addClass("modal-sm");

                                $('#smallModal .modal-body').html(mensagem);

                                $('#smallModal .btn-ok').on('click', function(event) {

                                        $("#smallModal").modal("hide");

                                        var url = "{% url 'Checklists:avaliacao_finalizar' %}";
                                        var data = "id=" + avaliacao_id;

                                        $.ajax({
                                                type: "POST",
                                                url: url,
                                                data: data,
                                                success: function (result){
                                                        var msg = alert_template.replace("MESSSAGE", "Análise finalizada.");
                                                        $("#msg_container").html(msg);
                                                        filtrarLista();




                                                },
                                                dataType: 'json'
                                        })

                                });


 
                        });




                        $("#id_projeto").change(function (){
                                
                                var form = $(this).closest("form");
                
                                var projeto_id = $(this).val();
                                if (projeto_id != ""){
                                        var url = form.attr("itens-formset-url") + "?projeto_id=" + projeto_id;
                                        $("#itens_avaliacao").load(url); 
                                
                                }
                                else{
                                        $("#itens_avaliacao").html("") 
                                }
                        
                        })


                atualizarItensDaAvaliacao();

                
                $myForm.submit(function(event){
                        event.preventDefault()
                        var $formData = $(this).serialize()
                        var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
                        $.ajax({
                                method: "POST",
                                url: $thisURL,
                                data: $formData,
                                success: handleFormSuccess,
                                error: handleFormError,
                        });
                })
        
                function handleFormSuccess(data, textStatus, jqXHR){
                        //console.log(data)
                       // console.log(textStatus)
                       // console.log(jqXHR)

                        if(textStatus=='success'){
                                var msg = alert_template.replace("MESSSAGE", data["message"]);
                                $("#ic_editar_avaliacao").val("");
                                
                                $("#msg_container").html(msg);
                                $("#progresso").html(data["progresso"]);
                                $("#conformidade").html(data["conformidade"]);

                                if(data["modified"]) $("#modified").html(data["modified"]);
                                if(data["titulo"]) $("#titulo").html(data["titulo"]);
                                

                                $.each(data["itens"], function (i, item){
                              
                                    $("#recomendacao_" + item.id).html(item.recomendacao);
                                });


                                if (data["redirect"]){
                                        alert(data["message"]);
                                        document.location = data["redirect"];
                                }

                                $("#form_avaliacao").hide();
                                $("#form_itens").show();
                                


                                
                        }
                       // $myForm.reset(); // reset form data
                }
        
                function handleFormError(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR)
                        console.log(textStatus)
                        console.log(errorThrown)
                }
        })



   


</script>
                

{% endblock %}