
{% extends 'print.html' %}

{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block content %}


<div class="container">
<br>
<div class="row">
  <div class="col-xs-18">
  	<h3>Relatório de Análise de Projeto</h3>
  </div>
  <div class="col-xs-6 text-right">
  	<b>{{  timezone_now|date:"d/m/Y H:i" }}</b>
  </div>
</div>
<hr>

<div class="row">
	<div class="col-xs-5">
		<label>Análise realizada por</label>
	</div>
	<div class="col-xs-19">
       {{request.user.profile.obter_assinante.first_name }}
	</div>
</div>

<div class="row">
	<div class="col-xs-5">
		<label>Empreendimento</label>
	</div>
	<div class="col-xs-19">
		{{object.projeto.empreendimento}}
	</div>
</div>


{% if object.projeto.responsavel_analise %}
<div class="row">
	<div class="col-xs-5">
				<label>Responsável pela análise</label>
	</div>
	<div class=" col-xs-19">
					{{object.projeto.responsavel_analise}}
					
	</div>
</div>
{% endif %}

<div class="row">
	<div class="col-xs-5">
					<label>Atividade Técnica</label>
	</div>
	<div class="col-xs-19">
					{{object.projeto.atividade_tecnica}}
	</div>
</div>

<div class="row">
	<div class="col-xs-5">
					<label>Etapa do projeto</label>
	</div>
	<div class="col-xs-19">
					{{object.projeto.etapa_projeto}}
					
	</div>
</div>

{%if  projetistas %}
<div class="row">
	<div class=" col-xs-5">
					<label>Projetista(s)</label>
	</div>
	<div class=" col-xs-19">
						{%for projetista in  projetistas%}
							{{projetista}} <br>
						{%endfor%}
	</div>
</div>
{%endif%}

<div class="row">
	<div class="col-xs-5">
		<label>Requisitos analisados</label>
	</div>
	<div class="col-xs-19">
		{{object.checklist}}
	</div>
</div>




<div class="row">
	<div class=" col-xs-24 text-center">

			<div class="chart-container" >
    			<canvas id="pie-chart" style="height:20vh; width:40vw"></canvas>
			</div>

			 

			Analisado <span class="progress-number"><b>{{object.progresso}}%</b></span>&nbsp;&nbsp;

			Nível de Presença <span class="progress-number"><b>{{object.conformidade}}%</b></span>
	</div>
</div>

<br class="page-break">
<!--h3>Recomendações</h3--><br>
	
    
{% render_table table %}

 
</div>
 
{% endblock %}

{% block javascript  %}
<script src="/static/js/Chart.PieceLabel.min.js"></script>


<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

<script>

	var dados = "{{object.estatisticas}}";  
	search = "&#39;";
	dados = dados.replace(new RegExp(search, 'g'), '"');
	dados = JSON.parse(dados);


	var options = {
			title: {
				display: true,
				text: 'Nível de presença da informação'
			},
			pieceLabel: {
				render: 'percentage',
				fontColor: ['white', 'white', 'white'],
				precision: 2
			},
			responsive: true,
            animation: {
                animateScale: true,
                animateRotate: true
            },
			tooltips: {
					callbacks: {
						label: function(tooltipItem, data) {
							var dataset = data.datasets[tooltipItem.datasetIndex];
							var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
								return previousValue + currentValue;
								});
							var currentValue = dataset.data[tooltipItem.index];
							var precentage = Math.floor(((currentValue/total) * 100)+0.5);         
							return data.labels[tooltipItem.index] + " " +  currentValue + " (" + precentage + "%" + ")";
						}
					}
			},

		 
		};


	var ctx = document.getElementById("pie-chart").getContext('2d');

	
	var labels = ["Presente" , "Parcial", "Ausente"   ];
	var valores = [dados.presente, dados.parcial, dados.ausente ];

	if (dados.nd  > 0){
		valores.push(dados.nd);
		labels.push("Não analisado");

	}

	var myChart = new Chart(ctx, {
		options: options,
		type: 'pie',
		data: {
			labels: labels,
			datasets: [{
				label: 'Nível de presença da informação',
				data: valores,

				backgroundColor: ["#3cba9f", "#3e95cd", "#8e5ea2","#e8c3b9","#c45850"],

			//	backgroundColor: ["red","yellow","blue"],
				borderColor: [
					'rgba(255,99,132,1)',
					//'rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)'
				],
				borderWidth: 0
			}]
		}
	});

	//myChart.canvas.parentNode.style.height = '200px';

	

	$( document ).ready(function() {


		setTimeout(window.print(), 4000)


	 
	});
	</script>


{% endblock %}