
{% load i18n staticfiles field_attrs %}
 
{% block checklist_content %}


<form action="" method="POST"  class="form" id="ajax-form"
enctype="multipart/form-data"
data-url='{{ request.build_absolute_uri|safe }}'
data-checklists-url="{% url 'Checklists:obter_checklists' %}">

        {% csrf_token %}
         
        {{ form.non_field_errors }}

        {% for field in form %}
        <div class="form-group row">
                <label for="{{ field.label }}">{{ field.label}}: 
                {% if field.field.required %}<span title="Campo obrigatório" class="special_class">*</span>{% endif %}
                </label>
                <span class="helptext">{{ field.help_text    }}</span>
                {{ field | attr:"class=form-control"  }}
                {{ field.errors }}
        </div>
        {% endfor %}

         

        <input type="submit" class="btn btn-primary btn-xs" value="Salvar" />
        <a class="btn btn-primary btn-xs" id="btnCancelar" >Voltar</a>
        
      
</form>
<i class="legenda">* Campo obrigatório</i>
<br>
{% endblock %}


{% block javascript  %} 
<script>
        var form = $('#ajax-form');
 

        //registar eventos

        $("#btnCancelar").click(function (){
                
                carregarAplicacoes();
        });

      $("#id_projeto").change(function () {
        var url = form.attr("data-checklists-url");  // get the url of the `load_checklists` view
        var projetoId = $(this).val();  // get the selected country ID from the HTML input

        var $input = $("#id_checklist");
        $input.html("<option value=''>---------</option>");
        $input.parent().find("p").remove();

                $.ajax({                       // initialize an AJAX request
                        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                        data: {
                        'projeto': projetoId       // add the country id to the GET parameters
                        },
                        success: function (response) {   // `data` is the return of the `load_cities` view function
                                data = response.data;
                                options = "";
                                key = 0;
                                if (data.length > 0){
                                        $.each(data, function (i, item){
                                                key =  item.key;
                                        options += "<option value='" + item.key + "'>" + item.value + "</option>";
                                        })
                                        $input.html(options);  // replace the contents of the city input with the data that came from the server
                                        $input.val(key);
                                }else{
                                        var msg = "Não há lista de verificação disponível para esse projeto (Atividade técnica/Etapa)."
                                        
                                        $input.after("<p alert>" + msg + "</p>");
                                        BootstrapDialog.alert(msg );
                                }
                        }
                });
      });


      //form sumit


        form.submit(function(event){
                event.preventDefault()
                var $formData = $(this).serialize()
                var $thisURL = form.attr('data-url') || window.location.href // or set your own url
                $.ajax({
                        method: "POST",
                        url: $thisURL,
                        data: $formData,
                        success: handleFormSuccess,
                        error: handleFormError,
                })
        })
        
        function handleFormSuccess(data, textStatus, jqXHR){

                if(textStatus=='success'){

                         
                        // carregarAplicacoes();
                         var url = data["success_url"];
                        $("#container").html("Carregando...")
                        $("#container").load(url);
                }

        }

        function handleFormError(jqXHR, textStatus, errorThrown){
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                console.log(jqXHR.responseText)

                if ($("input").next('p').length) $("input").nextAll('p').empty();

                data = jqXHR.responseJSON;


                var msg = "";

                $.each(data, function (key, value){
                        // object message error django
                        if (key == "__all__") 
                                msg += value;
                        else {
                                var $input = $("input[name='"+ key +"']");
                                $input.after("<p>" + value + "</p>");

                        }
                });

                if (msg != ""){
                        var $input = $("#id_checklist");
                        $input.parent().find("p").remove();
                        $input.after("<p alert>" + msg + "</p>");
                        BootstrapDialog.alert(msg );
                }


        }
    
     //   $("#id_projeto").after("<button title='Novo projeto'  class='btn btn-primary pull-right btn-sm RbtnMargin' type='button'><i class='fa fa-plus'></i></button>");
     var url_new = "{%url 'Checklists:projeto_add_popup'%}";
     $("#id_projeto").parent().find("label").append(  '&nbsp;&nbsp;<a class="related-widget-wrapper-link add-related" id="add_id_projeto" href='+ url_new+'?_to_field=id_projeto&amp;_popup=1" title="Adicionar outro projeto"><img src="/static/admin/img/icon-addlink.svg" alt="Adicionar"></a>');
     

  

     $("#add_id_projeto").click(function (){
        var url = $(this).attr("href");  
           BootstrapDialog.show({
                   title: "Novo projeto",
                   message: $('<div></div>').load(url)
            });
             return false;

     })

 </script>       

 


{% endblock %}