
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block checklist_content %}

<br>

<div  class="box box-primary ">
		<div class="box-header position-top">
				<h3>Relatório Simplificado de Análise</h3>
		                     


				<div class="box-tools pull-right">
						<b>{{  timezone_now|date:"d/m/Y H:i" }}</b>

	
						<div class="btn-group">

						<button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
						<i class="fa fa-cogs"></i></button>
								<ul class="dropdown-menu" role="menu">

								
								<li><a class="link-action" data-action="print" href="#"> <i class="fa fa-print"></i> Imprimir</a></li>
								<li><a class="link-action" data-action="voltar" href="#"><i class="fa fa-undo"></i> Voltar</a></li>
								 
								
								</ul>
						</div>
				</div>



		</div>

</div>


 
<div class="row">
	<div class="col-sm-24 col-md-5">
		<label>Requisitos analisados</label>
	</div>
	<div class="col-sm-24 col-md-19">
		{{object.checklist}}
	</div>
</div>
<div class="row">
	<div class="col-sm-24 col-md-5">
		<label>Empreendimento</label>
	</div>
	<div class="col-sm-24 col-md-19">
		{{object.projeto.empreendimento}}
	</div>
</div>
<div class="row">
	<div class="col-sm-24 col-md-5">
					<label>Atividade Técnica</label>
	</div>
	<div class="col-sm-24 col-md-19">
					{{object.projeto.atividade_tecnica}}
	</div>
</div>

<div class="row">
	<div class="col-sm-24 col-md-5">
					<label>Etapa do projeto</label>
	</div>
	<div class="col-sm-24 col-md-19">
					{{object.projeto.etapa_projeto}}
					
	</div>
</div>

{% if object.projeto.responsavel_analise %}
<div class="row">
	<div class="col-sm-24 col-md-5">
				<label>Responsável pela análise</label>
	</div>
	<div class="col-sm-24 col-md-19">
					{{object.projeto.responsavel_analise}}
					
	</div>
</div>
{% endif %}
{% if object.projeto.responsavel_validacao %}
<div class="row">
	<div class="col-sm-24 col-md-5">
					<label>Responsável pela validação</label>
	</div>
	<div class="col-sm-24 col-md-19">
						{{object.projeto.responsavel_validacao}}
						
	</div>
</div>
{% endif %}


{%if  projetistas %}
<div class="row">
	<div class="col-sm-24 col-md-5">
					<label>Projetista(s)</label>
	</div>
	<div class="col-sm-24 col-md-19">
						{%for projetista in  projetistas%}
							{{projetista}} <br>
						{%endfor%}
	</div>
</div>
{%endif%}


<div class="row">
	<div class="col-sm-24 col-md-24 text-center">

			<div class="chart-container" >
    			<canvas id="pie-chart" style="height:20vh; width:40vw"></canvas>
			</div>

			 

			Analisado <span class="progress-number"><b>{{object.progresso}}%</b></span>&nbsp;&nbsp;

			Nível de Presença <span class="progress-number"><b>{{object.conformidade}}%</b></span>
	</div>
</div>

<h3>Recomendações</h3><br>
	
    
{% render_table table %}

<a id="btnVoltar" class="btn btn-primary btn-xs" href="{{object.get_absolute_url}}" onclick="return editarAnalise(this)"><i class="fa fa-undo"></i> Voltar</a> &nbsp;
<a class="btn btn-primary btn-xs" href="#" onclick="print()"><i class="fa fa-print"></i> Imprimir</a><br>

 
{% endblock %}

{% block javascript  %}
<script src="/static/js/Chart.PieceLabel.min.js"></script>


<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

<script>

		$(".link-action").click(function(event){
			event.stopPropagation();
			

			var acao = $(this).attr("data-action");

			switch (acao){
				case "print": 
					print()
					break;
				case "voltar": 
					$("#btnVoltar").click()
					break;
			}
		});

	function print(){
		var url = "{{ request.build_absolute_uri|safe }}" + "/print";

		window.open(url,"_blank", " fullscreen=yes, scrollbars=yes");
	}

	var dados = "{{object.estatisticas}}";  
	search = "&#39;";
	dados = dados.replace(new RegExp(search, 'g'), '"');
	dados = JSON.parse(dados);


	var options = {
			title: {
				display: true,
				text: 'Nível de presença da informação'
			},
			pieceLabel: {
				render: 'percentage',
				fontColor: ['white', 'white', 'white'],
				precision: 2
			},
			responsive: true,
            animation: {
                animateScale: true,
                animateRotate: true
            },
			tooltips: {
					callbacks: {
						label: function(tooltipItem, data) {
							var dataset = data.datasets[tooltipItem.datasetIndex];
							var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
								return previousValue + currentValue;
								});
							var currentValue = dataset.data[tooltipItem.index];
							var precentage = Math.floor(((currentValue/total) * 100)+0.5);         
							return data.labels[tooltipItem.index] + " " +  currentValue + " (" + precentage + "%" + ")";
						}
					}
			},

		 
		};


	var ctx = document.getElementById("pie-chart").getContext('2d');

	var labels = ["Presente" , "Parcial", "Ausente"   ];
	var valores = [dados.presente, dados.parcial, dados.ausente ];

	if (dados.nd  > 0){
		valores.push(dados.nd);
		labels.push("Não analisado");

	}

	var myChart = new Chart(ctx, {
		options: options,
		type: 'pie',
		data: {
			labels: labels,
			datasets: [{
				label: 'Nível de presença da informação',
				data: valores,

				backgroundColor: ["#3cba9f", "#3e95cd", "#8e5ea2","#e8c3b9","#c45850"],

			//	backgroundColor: ["red","yellow","blue"],
				borderColor: [
					'rgba(255,99,132,1)',
					//'rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)'
				],
				borderWidth: 0
			}]
		}
	});

	//myChart.canvas.parentNode.style.height = '200px';
	</script>


{% endblock %}