
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block checklist_content %}


<br>

		
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title pull-left">
				Relatório de Análise
			</div>
	 
			<div class="btn-group pull-right">
				<b>{{  timezone_now|date:"d/m/Y H:i" }}</b>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="panel-body">
			  <div class="row">
				<div class="form col-sm-12 col-md-8">

						<div class="form-group">
							<label>Requisitos analisados</label>
							{{object.checklist}}

							&nbsp;&nbsp;
						
						</div>

						<div class="form-group">
							<label>Empreendimento</label>
							{{object.projeto.empreendimento}}

							&nbsp;&nbsp;
						
						</div>
						<div class="form-group">
								<label>Atividade Técnica</label>
								{{object.projeto.atividade_tecnica}}
								&nbsp;&nbsp;
						</div>

						<div class="form-group">
								<label>Etapa do projeto</label>
								{{object.projeto.etapa_projeto}}
								&nbsp;&nbsp;
						</div>

						{% if object.projeto.responsavel_analise %}
						<div class="form-group">
							<label>Responsável pela análise</label>

								{{object.projeto.responsavel_analise}}
								&nbsp;&nbsp;
						</div>
						{% endif %}
						{% if object.projeto.responsavel_validacao %}
						<div class="form-group">
								<label>Responsável pela validação</label>
	
									{{object.projeto.responsavel_validacao}}
									&nbsp;&nbsp;
							</div>
						{% endif %}

						 
						{%if  projetistas %}
							<div class="form-group">
								<label>Projetista(s)</label>
	
									{%for projetista in  projetistas%}
										{{projetista}} <br>
									{%endfor%}
									
							</div>
						{%endif%}



				</div>
				<div class="col-sm-12 col-md-8">
						<canvas id="pie-chart" width="20" height="15"></canvas>
				</div>
				<div class="col-sm-12 col-md-8">
				   <div class="row">
				        <div class="col-sm-24 col-md-24">
									<p class="text-center">
									<strong>Resultado</strong>
									</p>
				
									<div class="progress-group">
										<span class="progress-text">Progresso</span>
										<span class="progress-number"><b>{{object.progresso}}%</b></span>
					
										<div class="progress sm">
											<div class="progress-bar progress-bar-aqua" style="width: {{object.progresso}}%"></div>
										</div>
									</div>
									<!-- /.progress-group -->
									<div class="progress-group">
										<span class="progress-text">Nível de Presença</span>
										<span class="progress-number"><b>{{object.conformidade}}%</b></span>
					
										<div class="progress sm">
											<div class="progress-bar progress-bar-red" style="width: {{object.conformidade}}%"></div>
										</div>
									</div>
						</div>
					</div>
					<div class="row">
					    <div class="col-sm-24 col-md-24">
						   <table width="100%" id="tbl_resultado" class="table-condensed">
						   <thead style="border-bottom: 1px solid">
						     <tr class='text-center'>
							    <th>Quantidade Informações Presentes</th>
								<th>Nível de presença da informação</th>
								<th>Pontuação</th>
							 </tr>
							 </thead>
							 <tbody></tbody>
							 <tfoot style="border-top: 1px solid"></tfoot>
						   </table>
						</div>
					</div>
		
			</div>  
		</div>
	   </div>
	</div>

	<h3>Informações utilizadas</h3><br>
	{% render_table table_info_utilizada %}

	<h3>Itens analisados</h3><br>
	
    
	{% render_table table_itens %}
	<a class="btn btn-primary btn-xs" href="{{object.get_absolute_url}}" onclick="return editarAnalise(this)"><i class="fa fa-undo"></i> Voltar</a><br>


 
{% endblock %}

{% block javascript  %}
<script src="/static/js/Chart.PieceLabel.min.js"></script>


<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

<script>

	var dados = "{{object.estatisticas}}";  
	search = "&#39;";
	dados = dados.replace(new RegExp(search, 'g'), '"');
	dados = JSON.parse(dados);


	$( "#tbl_resultado > tbody").html("");
	var rows = "";
    rows += "<tr class='text-center'><td>"+dados.presente+"</td><td>Presente</td><td>"+dados.presente_peso+"</td></tr>";
    rows += "<tr class='text-center'><td>"+dados.parcial+"</td><td>Parcial</td><td>"+dados.parcial_peso+"</td></tr>";
	rows += "<tr class='text-center'><td>"+dados.ausente+"</td><td>Ausente</td><td>"+dados.ausente_peso+"</td></tr>";
	if (dados.nd > 0) rows += "<tr class='text-center'><td>"+dados.nd+"</td><td title='Requisitos não analisado'>Não analisado</td><td>"+dados.nd_peso+"</td></tr>";
	
	if (dados.na > 0) rows += "<tr class='text-center'><td>"+dados.na+"</td><td title='Requisitos marcado como Não se aplica, não são contabilizados no Nível de informação.'>Não se aplica*</td><td>"+dados.na_peso+"</td></tr>";

	$( "#tbl_resultado > tbody").html(rows);
    var total = dados.presente + dados.parcial + dados.ausente;
	var total_peso = dados.presente_peso + dados.parcial_peso + dados.ausente_peso;
	$( "#tbl_resultado > tfoot").html("<tr class='text-center'><td>"+total+"</td><td></td><td>"+total_peso+"</td></tr>");


	var options = {
			title: {
				display: true,
				text: 'Nível de presença da informação'
			},
			pieceLabel: {
				render: 'percentage',
				fontColor: ['white', 'white', 'white'],
				precision: 2
			},
			responsive: true,
            animation: {
                animateScale: true,
                animateRotate: true
            },
			tooltips: {
					callbacks: {
						label: function(tooltipItem, data) {
							var dataset = data.datasets[tooltipItem.datasetIndex];
							var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
								return previousValue + currentValue;
								});
							var currentValue = dataset.data[tooltipItem.index];
							var precentage = Math.floor(((currentValue/total) * 100)+0.5);         
							return data.labels[tooltipItem.index] + " " +  currentValue + " (" + precentage + "%" + ")";
						}
					}
			},

		 
		};


	var ctx = document.getElementById("pie-chart").getContext('2d');


	var labels = ["Presente" , "Parcial", "Ausente"   ];
	var valores = [dados.presente, dados.parcial, dados.ausente ];

	if (dados.nd  > 0){
		valores.push(dados.nd);
		labels.push("Não analisado");

	}

	var myChart = new Chart(ctx, {
		options: options,
		type: 'pie',
		data: {
			labels: labels,
			datasets: [{
				label: 'Nível de presença da informação',
				data: valores,

				backgroundColor: ["#3cba9f", "#3e95cd", "#8e5ea2","#e8c3b9","#c45850"],

			//	backgroundColor: ["red","yellow","blue"],
				borderColor: [
					'rgba(255,99,132,1)',
					//'rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)'
				],
				borderWidth: 0
			}]
		}
	});
	</script>


{% endblock %}