{% extends 'checklist/base.html' %}

{% block content %}
    <h1>New checklist</h1>
    <form method="POST" class="checklist-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}