{% extends 'checklist/base.html' %}

{% block checklist_content %}
<h1>{{ checklist.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'Checklists:results' checklist.id %}" method="post">
{% csrf_token %}
{% for choice in checklist.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
{% endblock %}
