
{% load i18n staticfiles field_attrs %}

{% block checklist_content %}

 
<form action="" id="ajax-form-empreendimento" method="post"  class="form" enctype="multipart/form-data"
data-url='{{ request.build_absolute_uri|safe }}'>
        {% csrf_token %}
        {{ form.non_field_errors }}
 
        {% for field in form %}
        <div class="form-group row">
                <label for="{{ field.label }}">{{ field.label}}: 
                {% if field.field.required %}<span title="Campo obrigatório" class="special_class">*</span>{% endif %}
                </label>
                <span class="helptext">{{ field.help_text    }}</span>
                {{ field | attr:"class=form-control"  }}
                {{ field.errors }}
        </div>
        {% endfor %}
        
        <input type="submit" class="btn btn-primary btn-xs" value="Salvar" />

        {%if not popup %}
        <a class="btn btn-primary btn-xs" id="btnCancelar" >Voltar</a>
        {% endif %}
</form>
<i class="legenda">* Campo obrigatório</i>
<br>

{% endblock %}


{% block javascript  %} 

{{ form.media }}

<script>
        var empreendimento_form = $('#ajax-form-empreendimento');


        $("#btnCancelar").click(function (){
                filtrarLista();
        });


        empreendimento_form.submit(function(event){
                event.preventDefault()
                var $formData = $(this).serialize()
                var $thisURL = $(this).attr('data-url') || window.location.href // or set your own url
                $.ajax({
                        method: "POST",
                        url: $thisURL,
                        data: $formData,
                        success:  function (data, textStatus, jqXHR){

                                if(textStatus=='success'){
                
                                        //console.log(data);
                                        BootstrapDialog.alert({title: 'Mensagem',   message : "Dados salvos com sucesso."});
                
                                        var url = data["success_url"] != "" ?  data["success_url"] :  data["url"] ;
                                        empreendimento_form.attr("data-url", url );
                                       // filtrarLista();

                                       {%if  popup %}

                                                empreendimento_id = data["pk"];
                                                //adicionar à lista de projetos
                                                titulo = $("#id_nome").val();
                                                $("#id_empreendimento").append("<option value="+empreendimento_id+">"+titulo+"</option>");
                                                $("#id_empreendimento").val(empreendimento_id);
                                                $("#id_empreendimento").change();

                                                console.log(titulo);
                                                //fechar modal
                                                dialogEmpreendimento.close();

                                       {%endif%}
                                }
                
                        },
                        error: function (jqXHR, textStatus, errorThrown){
                                console.log(jqXHR);
                                console.log(textStatus);
                                console.log(errorThrown);
                                console.log(jqXHR.responseText)
                
                                if ($("input").next('p').length) $("input").nextAll('p').empty();
                
                                data = jqXHR.responseJSON;
                
                                $.each(data, function (key, value){
                                        // object message error django
                                        var $input = $("input[name='"+ key +"']");
                                        $input.after("<p>" + value + "</p>");
                                });
                
                
                        },
                })
        })
        


        
    


 </script>       


 
                


{% endblock %}