{% extends 'checklist/base.html' %}


{% block checklist_content %}
<h1>Checklists</h1>

	{% if latest_checklist_list %}
	    <ul>
	    {% for checklist in latest_checklist_list %}
			<li><a href="{% url 'Checklists:detail' checklist.id %}">{{ checklist.requisito }}</a></li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No checklists are available.</p>
	{% endif %}
{% endblock %}
