
{% load i18n staticfiles field_attrs %}

{% block checklist_content %}

<h3>{{projeto}}</h3>
 
<h5>Informação utilizada</h5>

<form action="" id="ajax-form-info-projeto" method="post"  class="form" enctype="multipart/form-data"
data-url='{{ request.build_absolute_uri|safe }}'>
        {% csrf_token %}
        {{ form.non_field_errors }}
 
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
 
        {% for field in form.visible_fields %}
        <div class="form-group row">
                        {{ field.label_tag }}
                        {{ field | attr:"class=form-control"  }}
                        {{ field.errors }}
        </div>
        {% endfor %}
        
        <input type="submit" class="btn btn-primary btn-xs" value="Salvar" />
        <a class="btn btn-primary btn-xs" id="btnCancelar" >Voltar</a>
</form>
<i class="legenda">* Campo obrigatório</i>
<br>

{% endblock %}


{% block javascript  %} 

{{ form.media }}

<script>
        var form = $('#ajax-form-info-projeto');

        $(function () {
                $('#id_data_revisao').addClass("form-control"); 

                $('#id_data_revisao').datetimepicker({
                 locale: 'pt-BR',
                 format  : 'DD/MM/YYYY',
                 pickTime : false
                });
        });


        $("#btnCancelar").click(function (){
                voltarEditarProjeto();
                $('html,body').animate({ scrollTop: 610 }, 'slow');
                return false;
        });


        form.submit(function(event){
                event.preventDefault()
                var $formData = $(this).serialize()
                var $thisURL = form.attr('data-url') || window.location.href // or set your own url
                $.ajax({
                        method: "POST",
                        url: $thisURL,
                        data: $formData,
                        success: handleFormSuccess,
                        error: handleFormError,
                })
        })
        
        function handleFormSuccess(data, textStatus, jqXHR){

                if(textStatus=='success'){

                        voltarEditarProjeto();

                        $('html,body').animate({ scrollTop: 500 }, 'slow');
                }

        }

        function handleFormError(jqXHR, textStatus, errorThrown){
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                console.log(jqXHR.responseText)

                if ($("input").next('p').length) $("input").nextAll('p').empty();

                data = jqXHR.responseJSON;

                $.each(data, function (key, value){
                        // object message error django
                        var $input = $("input[name='"+ key +"']");
                        $input.after("<p>" + value + "</p>");
                });


        }
    


 </script>       


 
                


{% endblock %}