{% load render_table from django_tables2 %}


{%if table %}
<h4>Informações Utilizadas </h4>
<input type="button" class="btn btn-primary btn-xs" id="btn_novo_info" value="Nova informação" />
{% render_table table %}
<br>


{% endif %}


<script>
        
        $("#btn_novo_info").click(function (){
              $("#lista").html("Carregando...") ;
              var url = "{%url 'Checklists:info_projeto_add'%}";
              var param = "projeto_id=" + projeto_id;
              $("#lista").load(url + "?" + param);
        });
</script>