{{ formset.management_form }}
      
        <table class="table">
            <thead>
            <tr>
                <th>Requisito Geral</th>
                <th>Requisito Específico</th>
                <th>Informação a constar</th>
                <th>Presença</th>
                <th>Informação Analisada</th>
                <th>Observação</th>
            </tr>
            </thead>
    
            {% for form in formset %}
            <tr>
                <td>
                    {# Include the hidden fields #}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                        {{form.requisito_geral.value}}
                </td>
                <td>
                        {{form.requisito_especifico.value}}
                </td>
                <td>
                        {{form.requisito.value}}
                </td>
                <td>
                        {{form.nivel_presenca_info}}
                </td>
                <td>
                        {{form.info_analisada}}
                </td>
                <td>
                        {{form.observacao}}
                </td>
            </tr>
                    
            {% endfor %}
        </table>
    
