{% load i18n staticfiles field_attrs %}
{{ formset.management_form }}



<div class="box box-primary">
        <div class="box-header">
                Análise - Itens       &nbsp;&nbsp;

    


               <div class="box-tools pull-right">

                   <button type="button" class="btn btn-box-tool" id="btnCollapseItens" title="Detalhar todos os itens">
                               <i class="fa fa-plus"></i>
                   </button>

      


               </div>
        </div>
        <div class="box-body">

                <div class="panel-group" id="accordion">

                        {% for form in formset %}


                        <div class="panel panel-default " id="item-{{ forloop.counter0   }}">
                        <div class="panel-heading">
                        <span class="panel-title pull-left">
                        <i class="fa fa-exclamation" aria-hidden="true"></i>
                        <a title="Clique aqui para visualizar mais informações"  data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">{{form.requisito.value}}</a>
                        

                        </span>
                        <div class="btn-group pull-right">
                                <span item="collapse{{forloop.counter}}" ></span>
                                {{form.nivel_presenca_info   }}
                        </div>
                        <div class="clearfix"></div>
                        </div>
                        <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                        <div class="panel-body" >
                                        {# Include the hidden fields #}
                                        {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                        {% endfor %}
                                        <div class="row">
                                                        <div class="col-xs-24 col-md-4">
                                                        <b > Requisito Geral</b>
                                                        </div>
                                                        
                                                        <div class="col-xs-12 col-md-20 text-justify">
                                                                {{form.requisito_geral.value}}  
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-md-4 col-xs-24">
                                                                        <b>  Requisito Específico </b>
                                                        </div>
                                                        <div class="col-xs-24 col-md-20 text-justify">
                                                                        {{form.requisito_especifico.value}}  
                                                        </div>
                                                </div>



                                                <div class="row">
                                                        <div class="col-md-4 col-xs-24">
                                                                        <b>  Referência </b>
                                                        </div>
                                                        <div class="col-xs-24 col-md-20 text-justify">
                                                                        {{form.normativo.value}}  
                                                        </div>
                                                </div>

                                                <div class="row">
                                                        <div class="col-md-4 col-xs-24">
                                                                        <b>  Item </b>
                                                        </div>
                                                        <div class="col-xs-24 col-md-20 text-justify">
                                                                        {{form.norma.value}}  
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-md-4 col-xs-24">
                                                                <b>Informação Analisada </b>
                                                        </div>
                                                        <div class="col-md-20 col-xs-24">
                                                                {{form.info_analisada}}
                                                        </div>
                                                </div>
                                
                                                <div class="row">
                                                        <div class="col-md-4 col-xs-24">
                                                                <b >Observação/Evidências </b>
                                                        </div>
                                                        <div class="col-md-20 col-xs-24">
                                                                {{form.observacao}}
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-md-4 col-xs-24">
                                                                <b >Recomendação </b>
                                                        </div>
                                                        <div class="col-md-20 col-xs-24">
                                                                {{form.recomendacao_avaliador}}
                                                        </div>
                                                </div>
                        </div>
                        <div class="panel-footer">
                                <span id="recomendacao_{{form.id.value}}" >
                                        {{form.recomendacao.value}}
                                </span> 
                        </div>
                        </div>
                        </div>

                        {% endfor %}

        </div>
 </div>

        <script>

        {%if  not pode_editar %}
                $( "select" ).prop( "disabled", true );
                $( "textarea" ).prop( "disabled", true );
                $( "input" ).prop( "disabled", true );
        {% endif %}
                var info_antes_alteracao = undefined; //variável guarda valor anterior à mudança do campo nível de informaçao


                //subfunction -- submit dados
                function enviarDados(form_id, info, observacao, recomendacao_avaliador , info_analisada) {
                                        console.log("enviando...")
                                        //salvar alteracões
                                        var url = "{% url 'Checklists:editar_item_avaliacao' %}"
                                        var data = "id=" + form_id + "&info=" + info
                                        + "&observacao=" +          observacao
                                        + "&recomendacao_avaliador=" + recomendacao_avaliador 
                                        +   "&info_analisada=" + info_analisada  ;

                                        $.ajax({
                                                type: "POST",
                                                url: url,
                                                async : false,
                                                data: data,
                                                success: function (result){
                                                        $("#recomendacao_" + form_id).html(result.recomendacao);
                                                },
                                                dataType: 'json'
                                        });

                                        info_antes_alteracao = undefined;
                }

                function salvarItemAvaliacao (id){
                        console.log("salvar itens...");
                                
                                var form_id = $("#id_form-"+id+"-id").val();
                                var checklistitem_id = $("#id_form-"+id+"-checklistitem_id").val();
                                var observacao = $("#id_form-"+id+"-observacao").val();
                                var recomendacao_avaliador = $("#id_form-"+id+"-recomendacao_avaliador").val();
                                var info_analisada = $("#id_form-"+id+"-info_analisada").val();
                                var info = $("#id_form-"+id+"-nivel_presenca_info").val();
                                
                                //remover alertas 
                                var $input = $("#id_form-"+id+"-recomendacao_avaliador");
                                $input.next('p.alert').remove();

                                //verificar campo recomendação. Obrigatório se nível de presença for ausente ou parcial
                               if (info == "parcial" || info == "ausente"){
                                       if (recomendacao_avaliador == ""){
                                                var $input = $("#id_form-"+id+"-recomendacao_avaliador");
                                                $input.after("<p class='alert alert-danger'>Campo obrigatório. Análise não será computada caso não houver recomendação. </p>");
                                                $input.focus();

                                                return false;
                                       }else {
                                                enviarDados(form_id, info, observacao, recomendacao_avaliador , info_analisada) ;
                                       }

                               }else {
                                       console.log(info_antes_alteracao);
 
                                       if (info_antes_alteracao == info || info_antes_alteracao === undefined){
                                                enviarDados(form_id, info, observacao, recomendacao_avaliador , info_analisada) ;
                                       }else{
                                        //verificar se anotacoes pode ser descartadas
                                                if (recomendacao_avaliador != "" || observacao != "" || info_analisada != "" ){ 

                                                        BootstrapDialog.show({
                                                                message: 'As informações nos campos informação analisada, observação/evidências e recomendação ainda são úteis? <b> Podem ser descartadas? </b>',
                                                                title: "Confirmação",
                                                                        buttons: [{
                                                                                label: 'Não',
                                                                                icon: 'glyphicon glyphicon-ban-circle',
                                                                                cssClass: 'btn-primary btn-xs',
                                                                                action: function(dialogItself){
                                                                                        enviarDados(form_id, info, observacao, recomendacao_avaliador , info_analisada) ;
                                                                                        dialogItself.close();
                                                                                        
                                                                                }
                                                                        },  {
                                                                                
                                                                                label: 'Sim',
                                                                                icon:  "glyphicon glyphicon-ok",
                                                                                cssClass: 'btn-primary btn-xs',
                                                                                action: function(dialogItself){
                                                                                        $("#id_form-"+id+"-observacao").val("");
                                                                                        $("#id_form-"+id+"-recomendacao_avaliador").val("");
                                                                                        $("#id_form-"+id+"-info_analisada").val("");
                                                                                        observacao = "";
                                                                                        recomendacao_avaliador = "";
                                                                                        info_analisada = "";
                                                                                        enviarDados(form_id, info, observacao, recomendacao_avaliador , info_analisada) ;
                                                                                        dialogItself.close();
                                                                                        
                                                                                }
                                                                        }]
                                                                });

                                                }else{
                                                        enviarDados(form_id, info, observacao, recomendacao_avaliador , info_analisada) ;
                                                }
                                        }
                               }




                }


                //controlar itens - collapse
                $( "#btnCollapseItens" ).click(function(){
                        var button = $(this);
                        if (button.find("i").attr("class") == "fa fa-plus"){
                                //abrir todos os itens
                                $(".collapse").collapse("toggle");
                                button.find("i").removeClass("fa-plus");
                                button.find("i").addClass("fa-minus");

                        }else{
                                $(".collapse").collapse("hide");    
                                button.find("i").removeClass("fa-minus");
                                button.find("i").addClass("fa-plus");
                        }
                })



                function filtrarItensDaAnalise(info){
                        //definir cores dores itens e
                        $( "select" ).each(function(){
                                
                                var thestring = this.id;
                                //console.log(thestring)
                                var numbers = thestring.match(/\d+/g).map(Number);
                                var id = numbers[0];
                                var value = $(this).val();
                                if (info == "todos" || value == info) {
                                        $("#item-" + id).show();
                                }else{
                                        $("#item-" + id).hide();
                                }
                        });
                }

                
                function atualizarIcons(){
                        //definir cores dores itens e 
                        //contar itens

                       //contar itens
                       var todos = 0;
                        
                       var quantidades = {
                               'presente' : 0,
                               'parcial' : 0,
                               'ausente' : 0,
                               'na' : 0,
                               'nd' : 0
                       }

                        $( "select" ).each(function(){
                                var thestring = this.id;
                                
                                var numbers = thestring.match(/\d+/g).map(Number);
                                var id = numbers[0];
                                var value = $(this).val();
                                //console.log(value);
                                quantidades[value] += 1;
                                //console.log(quantidades[value]);

                                //definir icon
                                $("#item-" + id).find("i").removeClass("fa-question");
                                $("#item-" + id).find("i").removeClass("fa-exclamation");
                                $("#item-" + id).find("i").removeClass("fa-check");

                                if (value == "nd"){
                                        $("#item-" + id).find("i").addClass("fa-exclamation");
                                }else{
                                        $("#item-" + id).find("i").addClass("fa-check");
                                }

                                //definir cor
                                $("#item-" + id).find("i").removeClass("presente");
                                $("#item-" + id).find("i").removeClass("ausente");
                                $("#item-" + id).find("i").removeClass("parcial");
                                $("#item-" + id).find("i").removeClass("nd");
                                $("#item-" + id).find("i").removeClass("na");
                                
                                $("#item-" + id).find("i").addClass(value);


                                //verificar se recomendacao está preenchida
                                if (value == "parcial" || value == "ausente"){
                                        var recomendacao_avaliador = $("#id_form-"+id+"-recomendacao_avaliador").val();
                                        if (recomendacao_avaliador == ""){
                                                $("#item-" + id).find("i").removeClass("fa-check");
                                                $("#item-" + id).find("i").removeClass("fa-exclamation");
                                                $("#item-" + id).find("i").addClass("fa-question");
                                        }
                                }
                        })
                        
                       $.each( quantidades, function( key, value ) {
                               // console.log (key + ":" + value);
                                todos += value;
                                $(".badge-todos").html(todos);
                                $(".badge-" + key).html(value);
                        })
                }


                $( document ).ready(function() {
                        $( "input[type='text']" ).addClass( "form-control" );
                        $( "select" ).addClass( "form-control" );
                        $( "textarea" ).addClass( "form-control" );

                        atualizarIcons();

                        //$("#label_filtro").html($("#link-filter-todos").html() )//atualiar badge principal
                        //$("#link-filter-todos").click();//atualiar badge principal

                        $( "select" ).focus(function(){
                                var $this = $(this);
                                var item = $this.parent().find("span").attr("item");

                                $("#" + item).collapse("show");

                                info_antes_alteracao = $this.val();

                                 
                        })

                        

                        $( "select" ).change(function(){
                                var thestring = this.id;
                                var numbers = thestring.match(/\d+/g).map(Number);
                                var id = numbers[0];


                                salvarItemAvaliacao(id);

                                atualizarEstatisticas();

                                atualizarIcons();
                                                                                          
                        })


                        $( "textarea" ).change(function(){
                                var thestring = this.id;
                                var numbers = thestring.match(/\d+/g).map(Number);

                                salvarItemAvaliacao(numbers[0]);

                                atualizarEstatisticas();

                                atualizarIcons();
                        });




                        $(".link-filter").click(function(event){
                                event.stopPropagation();
                                var value = $(this).attr("data-action");
                                var info = $(this).html();

                                $("#label_filtro").html(info);

                                filtrarItensDaAnalise(value);
                                return false;
                        });



                });
        
         
        </script>

 </div> 




                      
    
