{{ formset.management_form }}


{% for form in formset %}


<div class="box box-solid box-default" data-widget="box-widget">
        <div class="box-header with-border">
                <h3 class="box-title">{{form.requisito.value}}</h3>

                <div class="clearfix"></div>
                <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <!-- <span class="label label-primary">Presença</span> -->
                {{form.nivel_presenca_info}}
                </div>
                <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
                {# Include the hidden fields #}
                {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                {% endfor %}

                <div class="row">
                        <div class="col-xs-12 col-md-4">
                        <b > Requisito Geral</b>
                        </div>
                        
                        <div class="col-xs-12 col-md-8 text-justify">
                                {{form.requisito_geral.value}}  
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-4 col-xs-12">
                                        <b>  Requisito Específico </b>
                        </div>
                        <div class="col-xs-12 col-md-8 text-justify">
                                        {{form.requisito_especifico.value}}  
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-4 col-xs-12">
                                <b >Observação </b>
                        </div>
                        <div class="col-md-8 col-xs-12">
                                {{form.observacao}}
                        </div>
                </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- box-footer -->
</div>
<!-- /.box -->
                  

{% endfor %}

                      
    
