
{% load render_table from django_tables2 %}

{% block checklist_content %}


<div class="spacer spacer-xs"></div>
  
<form id="filter_form">
        <button type="button" class="btn btn-primary btn-xs" id="btnNovo">Criar novo empreendimento </button>
</form>

<div class="spacer spacer-xs"></div>

<div id="lista"></div>


{% endblock %}



{% block javascript %}

 <script>
        function filtrarLista(){
                $( "#filter_form" ).show();
                var url = "{%url 'Checklists:empreendimento_list'%}";
                var param =  $( "#filter_form" ).serialize();

                $("#lista").html("Carregando...")
                $("#lista").load(url + "?" + param);
        }

        function editarEmpreendimento(a){
                $( "#filter_form" ).hide();
                var url = $(a).attr("href") ;
                $("#lista").html("Carregando...")
                $("#lista").load(url);
                return false;
        }


        $("#btnNovo").click(function (){
                $( "#filter_form" ).hide();
                var url = "{%url 'Checklists:empreendimento_add'%}";
                $("#lista").html("Carregando...")
                $("#lista").load(url);
        });



        filtrarLista();
 </script>

{% endblock %}
