{% extends 'base.html' %}
{% load i18n staticfiles cms_tags %}


{% block content %}
    
<ul class="nav nav-tabs nav-justified">
{%if abas %}
    {%for aba in abas %}
       {% if aba.title == aba_default %}
                <li role="presentation" class="active"><a data-toggle="tab" href="#{{aba.title}}">{{aba.title}}</a></li>
        {%else%}
                <li role="presentation" ><a data-toggle="tab" href="#{{aba.title}}">{{aba.title}}</a></li>
        {%endif%}
    {%endfor%}
{%endif%}
</ul>

<div id="container">Carregando...</div>


{% endblock %}


{% block javascript %}


        <script>

           function carregarAplicacoes(){
                                var url = "{%url 'Checklists:minhas_aplicacoes'%}";

                                $("#container").html("Carregando...")
                                $("#container").load(url);
           }

                $(document).ready(function(){

                        activaTab("{{aba_default}}");

                        $('.nav-tabs a').click(function (e) {
                                var tab = $(e.target).text();         // active tab
                                activaTab(tab);
                        });

                        $('.nav-tabs a').on('shown.bs.tab', function(event){
                                var tab = $(event.target).text();         // active tab
                                var y = $(event.relatedTarget).text();  // previous tab
                                // activaTab(tab);
                                
                        }); 
                });
                
                function activaTab(tab){
                        switch(tab) {
                        case "Empreendimentos":
                                var url = "{%url 'Checklists:empreendimento_index'%}";

                                $("#container").html("Carregando...")
                                $("#container").load(url);

                                break;
                        case "Projetos":
                                var url = "{%url 'Checklists:projeto_index'%}";

                                $("#container").html("Carregando...")
                                $("#container").load(url);

                                break;
                        case "Aplicações":
                                carregarAplicacoes();

                                break;
                        case "Equipe":
                                var url = "{%url 'Checklists:minha_equipe'%}";

                                $("#container").html("Carregando...")
                                $("#container").load(url);
                                break;
                        case "Conta":
                                var url = "{%url 'accounts:change_password'%}";

                                $("#container").html("Carregando...")
                                $("#container").load(url);
                                break;
                        default:
                                $("#container").html("Em desenvolvimento...")
                        } 
 
                };
        </script>


{% endblock %}

 