

{% load render_table from django_tables2 %}

{% block checklist_content %}


<div class="spacer spacer-xs"></div>
  
<form id="filter_form">
        <button type="button" class="btn btn-primary btn-xs" id="btnNovoProfile">Criar novo usuário </button>
</form>

<div class="spacer spacer-xs"></div>

<div id="lista"></div>


{% endblock %}



{% block javascript %}

 <script>

       

        function listarUsuarios(){
                $( "#filter_form" ).show();
                var url = "{%url 'accounts:profile_list'%}";
                var param =  $( "#filter_form" ).serialize();

                $("#lista").html("Carregando...")
                $("#lista").load(url + "?" + param);
        }

        function editarProfile(a, event){

                $( "#filter_form" ).hide();
                var url = $(a).attr("href") ;
                $("#lista").html("Carregando...");
         
                $("#lista").load(url);

                
                return false;
        }

        function removerProfile(a, event){             
                var url = $(a).attr("href") ;

                BootstrapDialog.show({
                        title: 'Confirmação',
                        message: 'Deseja excluír o usuário?',
                        buttons: [ {
                                label: 'Sim',
                                // no title as it is optional
                                cssClass: 'btn-primary',
                                data: {
                                        js: 'btn-confirm',
                                        'user-id': '3'
                                },
                                action: function(dialogItself){
                                        $.ajax({url: url, success: function(result){
                                               dialogItself.close();
                                               BootstrapDialog.alert(result.message)
                                               

                                        }});
                                        listarUsuarios();
                                        
                                }
                        }, {

                                label: 'Não',
                                action: function(dialogItself){
                                        dialogItself.close();
                                }
                        }]
                });

                return false;
        }


        $("#btnNovoProfile").click(function (){
        
                        $( "#filter_form" ).hide();
                        var url = "{% url 'accounts:profile_add' %}"
                        $("#lista").html("Carregando...")
                        $("#lista").load(url);

                        return false;
        })


        listarUsuarios();
 </script>

{% endblock %}
