
{% load render_table from django_tables2 %}

{% block checklist_content %}
<br>

<div class="panel-group" id="accordion">
   <div class="panel panel-default">
        <div class="panel-heading">
                <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                     <i class="glyphicon glyphicon-check"></i> &nbsp; Análise de Projetos</a>
                </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                        <div id="container_analises"></div>
                </div>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
                <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                       <i class="fa fa-arrows-alt"></i>&nbsp; Guia de Produtos e Fornecedores</a>

                        &nbsp;&nbsp;  <i class="fa fa-wrench" title="Em breve"></i>
                        
                </h4>
                 
        </div>
        <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                 	 É uma poderosa ferramenta de busca  e consulta que reúne informações dos principais programas de avaliação de conformidade brasileiros (PSQ, SBAC), facilitando incrivelmente a busca por fornecedores e materiais que atendam às normas técnicas aplicáveis. Com o guia é possível:
                                <ul>
                                <li> saber quem são os fornecedores e produtos "qualificados" e "não conformes" no respectivo PSQ do PBQP-H* </li>
                                <li> acessar a página do INMETRO para buscar produtos certificados</li>
                                <li> qualificar fornecedores no atendimento às normas (requisito de qualificação de fornecedores do SiAC e da ISO 9001)</li>
                                <li> baixar relatórios, certificados** e documentos de programas de avaliação de conformidade de produtos da construção civil</li>
                                <li> comprovar a conformidade da compra de um produto em uma determinada data e muito mais</li>
                                </ul>
                </div>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">

                        <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                <i class="glyphicon glyphicon-zoom-in"></i>&nbsp;Análise do Manual de Uso, Operação e Manutenção</a>

                               &nbsp;&nbsp;  <i class="fa fa-wrench" title="Em breve"></i>
                        </h4>

       
                    
               
        </div>
        <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
               <p> O manual do síndico ou do proprietário está de acordo com as normas? É o que esta ferramenta responde.</p>
               <p>Trata-se de duas listas de verificação de manuais de uso, operação e manutenção, sendo uma para o manual do síndico (áreas comuns) e outra para o manual do proprietário (unidades habitacionais), criadas com 100% dos requisitos da NBR 14037 e da NBR 15575 (norma de desempenho*), que permitem uma análise completa do atendimento do manual às normas. Com estas listas é possível:</p>
                
                        <ul>
                        <li>realizar uma análise completa do manual de uso, operação e manutenção com base nas normas aplicáveis</li>
                        <li>avaliar tecnicamente o trabalho do provedor externo contratado para elaboração do manual</li>
                        <li>acompanhar a evolução do atendimento do manual e informá-lo ao profissional contratado para confeccionar o manual</li>
                        <li>informar os itens que estão faltando no manual com base em normas técnicas</li>
                        </ul>

                </div>
        </div>
  </div>

</div>




{% endblock %}



{% block javascript %}

 <script>

  var url = "{%url 'Checklists:avaliacao_index'%}";
  $("#container_analises").load(url);

 </script>

{% endblock %}
