
{% load render_table from django_tables2 %}

{% block checklist_content %}

 
<form id="filter_form">

        <a class="btn btn-primary btn-xs"  href="#" id="btnNovo"><i class="fa fa-plus"></i> Criar nova análise</a>
        <label class="checkbox-inline"><input name="status" checked type="checkbox" class="checkbox" value="0">A realizar</label>
        <label class="checkbox-inline"><input name="status" checked type="checkbox" class="checkbox" value="1">Em andamento</label>
        <label class="checkbox-inline"><input name="status" checked type="checkbox" class="checkbox"  value="2">Finalizada</label>
        <label class="checkbox-inline"><input name="status"  type="checkbox" class="checkbox"  value="3">Cancelada</label>

</form>
<div class="spacer spacer-xs"></div>

<div id="avaliacoes_list"></div>


{% endblock %}



{% block javascript %}

 <script>

        function editarAnalise(obj){

                $( "#filter_form" ).hide();
                var url = $(obj).attr("href");
                $("#container").html("Carregando...")
                $("#container").load(url);
                return false;

        }

        function visualizarRelatorio(obj){

                $( "#filter_form" ).hide();
                var url = $(obj).attr("href");
                $("#container").html("Carregando...")
                $("#container").load(url);
                return false;

        }
        function filtrarLista(){

                $( "select" ).prop( "disabled", false );
                $( "textarea" ).prop( "disabled", false );
                $( "input" ).prop( "disabled", false );


                $( "#filter_form" ).show();
                var url = "{%url 'Checklists:avaliacao_list'%}";
                var param =  $( "#filter_form" ).serialize();

                $("#avaliacoes_list").html("Carregando...")
                $("#avaliacoes_list").load(url + "?" + param);
        }

        $(".checkbox").change(function (){
                 filtrarLista();
        })

        $("#btnNovo").click(function (){
                $( "#filter_form" ).hide();
                var url = "{% url 'Checklists:avaliacao_add' %}"
                $("#container").html("Carregando...")
                $("#container").load(url);
        });

        filtrarLista();
 </script>

{% endblock %}
