{% load i18n staticfiles field_attrs %}
{% load render_table from django_tables2 %}

{% block checklist_content %}

 
<form action="" id="ajax-form-projetista" method="post"  class="form" enctype="multipart/form-data"
data-url='{{ request.build_absolute_uri|safe }}'>
        {% csrf_token %}
        {{ form.non_field_errors }}
 
        {% for field in form %}
        <div class="form-group row">
                <label for="{{ field.label }}">{{ field.label}}: 
                {% if field.field.required %}<span title="Campo obrigatório" class="special_class">*</span>{% endif %}
                </label>
                <span class="helptext">{{ field.help_text    }}</span>
                {{ field | attr:"class=form-control"  }}
                {{ field.errors }}
        </div>
        {% endfor %}
        
        <input type="button" class="btn btn-primary btn-xs" value="Salvar" id="btnSalvarProjestita"/>
   
</form>
<i class="legenda">* Campo obrigatório</i>
<br>

{% endblock %}


{% block javascript  %} 

{{ form.media }}

<script>
        var form_projetista = $('#ajax-form-projetista');

        $("#btnSalvarProjestita").click(function (){
           
            form_projetista.submit()
            })

        form_projetista.submit(function(event){
                event.preventDefault()
                var $formData = $(this).serialize()
                var $thisURL = $(this).attr('data-url') || window.location.href // or set your own url
                $.ajax({
                        method: "POST",
                        url: $thisURL,
                        data: $formData,
                        success: function (data, textStatus, jqXHR){
                                    if(textStatus=='success'){
                                        var cpf = $("#id_cpf").val();
                                        var nome = $("#id_nome").val();
                                        var data = {'value' : data.pk, 'text' : nome + " ("+ cpf+ ")" }

                                        AtualizarListaProjetistas(data);  
                                    }

                            },
                        error: function (jqXHR, textStatus, errorThrown){
                                if ($("input").next('p').length) $("input").nextAll('p').empty();
                                data = jqXHR.responseJSON;
                                $.each(data, function (key, value){
                                        // object message error django
                                        var $input = $("input[name='"+ key +"']");
                                        $input.after("<p>" + value + "</p>");
                                });
                        },
                })
        })
        
        

        
    


 </script>       


 
                


{% endblock %}

