
{% load i18n staticfiles field_attrs %}
{% load render_table from django_tables2 %}

{% block checklist_content %}

<div id="msg_container"></div>

 
<form action="" id="ajax-form-projeto" method="post"  class="form" enctype="multipart/form-data"
data-url='{{ request.build_absolute_uri|safe }}'>
        {% csrf_token %}

        {{ form.management_form }}

        {{ form.non_field_errors }}

        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
 
        {% for field in form.visible_fields %}
        <div class="form-group row">
                <label for="{{ field.label }}">{{ field.label}}: 
                {% if field.field.required %}<span title="Campo obrigatório" class="special_class">*</span>{% endif %}
                </label>
                <span class="helptext">{{ field.help_text    }}</span>
                {{ field | attr:"class=form-control"  }}
                {{ field.errors }}
        </div>
        {% endfor %}
        


        {{ formset.management_form }}

        <div class="form-group row">

        <table id="id_projetistas_table" class="table table-striped">


            {% for form in formset.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field | attr:"class=form-control" }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

       
        </table>
        </div>


        {% if formset.non_form_errors %}
                {% for error in formset.non_form_errors %}
                        {{ error|escape }}
                {% endfor %}
        {% endif %}
       
        <input type="submit" class="btn btn-primary btn-xs" value="Salvar" />
        <a class="btn btn-primary btn-xs" id="btnCancelar" >Voltar</a>
</form>
<i class="legenda">* Campo obrigatório</i>
<br>



<div id="info_utilizada"></div>


<div id="modal-projetista" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cadastro de Projetista</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>
 


{% endblock %}






{% block javascript  %} 

{{ form.media }}
{{ formset.media }}

<script>

        //   $("#id_projeto").after("<button title='Novo projeto'  class='btn btn-primary pull-right btn-sm RbtnMargin' type='button'><i class='fa fa-plus'></i></button>");
var url_new = "{%url 'Checklists:empreendimento_add'%}";
$("#id_empreendimento").parent().find("label").append(  '&nbsp;&nbsp;<a class="related-widget-wrapper-link add-related" id="add_id_empreendimento" href="'+ url_new+'?_to_field=id_projeto&amp;_popup=1" title="Adicionar outro empreendimento"><img src="/static/admin/img/icon-addlink.svg" alt="Adicionar"></a>');

$("#add_id_empreendimento").click(function (){
        var url = $(this).attr("href");  
        dialogEmpreendimento =  new  BootstrapDialog({
                   title: "Novo empreendimento",
                   message: $('<div></div>').load(url)
            });

            dialogEmpreendimento.open();
            return false;

     })


        var alert_template = '<div class="alert alert-success alert-dismissible" role="alert">' +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;' +
                '</span></button>'+ 
                '<strong>Aviso!</strong> <span>MESSSAGE</span></div>';

        var form = $('#ajax-form-projeto');
        var edit_url = form.attr('data-url');

        var projeto_id = '{{projeto.pk}}';

        $.each(  $('input[type=text][readonly]'), function (i, field){
                $(field).attr("readonly", "readonly"); 
        })

        $.each(  $('select[readonly]'), function (i, field){

                $(field).hide();

                $(field).after(function() {
                        return "<div>" + $(field).find('option:selected').text(); + "</div>";
                }); 
        })

        function Informacoes(){
                //carregar informacoes do projeto

                var url = "{%url 'Checklists:info_projeto_list'%}";

                if (projeto_id){
                         var param = "projeto_id=" + projeto_id;
                         $("#info_utilizada").load(url + "?" + param);
                }
        }




        $("#btnCancelar").click(function (){
                
                filtrarLista();
        });


        form.submit(function(event){
                $("#msg_container").html("");

                

                event.preventDefault();

                //validar projetistas
                //verificar duplicidade e se campos estão vazios
                var validado = true;
                var projetistas = [];
                var arts = [];
                $.each($("#id_projetistas_table select"), function (i, combo){
                       $combo = $(combo);

                       var thestring = combo.id;
                       var numbers = thestring.match(/\d+/g).map(Number);
                       var id = numbers[0];
 

                       $art = $("#id_projetoprojetista_set-"+ id +"-art_rrt");

                       $art.next('b.alert').remove();
                       $combo.next('b.alert').remove();

                       if ($combo.val() != ""){
                               if ($.inArray($combo.val(), projetistas) == -1)  
                                        projetistas.push($combo.val());
                               else {
                                        
                                       validado = false;
                                       $combo.after("<b class='alert'>Projetista duplicado. </b>");
                                       $combo.focus();
                               }
                       }
                        
                       if ( $art.val() !=""){
                                if ($.inArray($art.val(), arts) == -1)  
                                        arts.push($art.val());
                                else {
                                        validado = false;
                                        $art.after("<b class='alert'>AT/RRT duplicado. </b>");
                                        $art.focus();
                                }
                        } 

                        

                       if ($combo.val() != "" && $art.val() ==""){
                               //alert("Campo ATR é obrigatório");
                               $art.attr("placeholder", "Campo obrigatório");
                               $art.after("<b class='alert'>Campo obrigatório. </b>");
                               $art.focus();
                               validado =  false;
                       }

                       if ($combo.val() == "" && $art.val() != ""){
                          //alert("Campo projetista é obrigatório");
                          //$combo.attr("placeholder", "Campo obrigatório");
                          $combo.after("<b class='alert'>Campo obrigatório. </b>");
                          $combo.focus();
                          validado = false;
                       }

                })

                console.log("enviando...");
                console.log(validado)

                if (!validado) return false;

                console.log("enviando....")
                






                var $formData = $(this).serialize()
                var $thisURL = form.attr('data-url') || window.location.href // or set your own url
                console.log("enviando.....")
                
                $.ajax({
                        method: "POST",
                        url: $thisURL,
                        data: $formData,
                        success: handleFormSuccess,
                        error: handleFormError,
                })
        })
        
        function handleFormSuccess(data, textStatus, jqXHR){

                if(textStatus=='success'){

                        
                       // filtrarLista();
                        var msg = alert_template.replace("MESSSAGE", data["message"]);
                        $("#msg_container").html(msg);

                        BootstrapDialog.alert({title: 'Mensagem',   message : data["message"]});

                        edit_url =    data["url"];
                        form.attr('data-url', edit_url);

                        projeto_id = data["id"];

                        Informacoes();
                                
                }

        }

        function handleFormError(jqXHR, textStatus, errorThrown){
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                console.log(jqXHR.responseText)

                if ($("input").next('p').length) $("input").nextAll('p').empty();

                data = jqXHR.responseJSON;

                 

                $.each(data, function (key, value){
                        // object message error django
                        if (key != "__all__"){
                                var $input = $("input[name='"+ key +"']");
                                $input.after("<p>" + value + "</p>");

                                var msg = "Por favor corriga os erros abaixo para prosseguir:<br>"


                                BootstrapDialog.show({
                                        title: 'Mensagem',
                                        message: msg
                                });

                                msg = alert_template.replace("MESSSAGE", msg + value);
                                $("#msg_container").html(msg);

                        }else{
                            //alert(value);
                            var msg = "Por favor corriga os erros abaixo para prosseguir:<br>"
                             //msg = alert_template.replace("MESSSAGE", msg + value);
                            $("#msg_container").html(msg);
                                BootstrapDialog.show({
                                        title: 'Mensagem',
                                        message: msg
                                });



                        }
                });


        }

        function voltarEditarProjeto(){
              $("#lista").html("Carregando...") ;
              $("#lista").load(edit_url);    
        }
 
    
        function editarInfoProjeto(a, event){

                $( "#filter_form" ).hide();
                var url = $(a).attr("href") ;
                $("#lista").html("Carregando...");
         
              var param = "projeto_id=" + projeto_id;
              $("#lista").load(url + "?" + param);

                
                return false;
        }




     function AtualizarListaProjetistas(data){

 
             $.each($("#id_projetistas_table select"), function (i, combo){

        
                     $(combo).append($('<option>', { 
                                value: data.value,
                                text : data.text 
                        }));

                        if ($(combo).val() == "") $(combo).val(data.value);


             });

             $('#modal-projetista').modal('hide');
     }


 
    $(function() {
        

        //carregar informacoes do projeto
        Informacoes();

        $('#id_projetistas_table tbody tr').formset({
            formCssClass: 'dynamic-projetista-form',
            prefix: "{{ formset.prefix }}",
            addText: 'Adicionar',
            deleteText: 'Remover'
        });

        $(".add-row").after( "<button id='btnNovoProjetista' title='Caso não encontre o projetista na relação acima, você poderá cadastrá-lo clicando neste botão'  type= 'button' class='btn btn-danger pull-right' >Deseja cadastrar novo projetista?</button>" );
        
        $("#btnNovoProjetista").click(function (){
               
                var url = "{%url 'Checklists:projetista_add'%}";
                                          
                $("#modal-projetista .modal-body").load(url);
                $('#modal-projetista').modal('show');
                $('#modal-projetista').css("z-index", "1500");

               


        });




    });


</script> 


 
 <style type="text/css">
    .add-row {
        padding-left:18px;
        background:url({{ STATIC_URL  }}img/add.png) no-repeat left center;
    }
    .delete-row {
        float:right;
        display:block;
        margin-left:4px;
        padding-left:18px;
        background:url({{ STATIC_URL  }}img/delete.png) no-repeat left center;
    }
    .dynamic-event-form th {
        text-align:right;
        font-weight:bold;
    }
    .dynamic-event-form td span img {
        vertical-align:middle;
        border:0;
    }
</style>            


{% endblock %}