
{% load i18n staticfiles field_attrs %}
{% load render_table from django_tables2 %}

{% block checklist_content %}

<div id="msg_container"></div>

 
<form action="" id="ajax-form-projeto" method="post"  class="form" enctype="multipart/form-data"
data-url='{{ request.build_absolute_uri|safe }}'>
        {% csrf_token %}

        {{ form.management_form }}

        {{ form.non_field_errors }}

        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
 
        {% for field in form.visible_fields %}
        <div class="form-group row">
                <label for="{{ field.label }}">{{ field.label}}: 
                {% if field.field.required %}<span title="Campo obrigatório" class="special_class">*</span>{% endif %}
                </label>
                <span class="helptext">{{ field.help_text    }}</span>
                {{ field | attr:"class=form-control"  }}
                {{ field.errors }}
        </div>
        {% endfor %}

        <input type="submit" class="btn btn-primary btn-xs" value="Salvar" />

</form>
<i class="legenda">* Campo obrigatório</i>
</div>
 

{% endblock %}


{% block javascript  %} 

{{ form.media }}
{{ formset.media }}

<script>
var dialogEmpreendimento; //referencia para o popup de criacao de empreendimento

//   $("#id_projeto").after("<button title='Novo projeto'  class='btn btn-primary pull-right btn-sm RbtnMargin' type='button'><i class='fa fa-plus'></i></button>");
var url_new = "{%url 'Checklists:empreendimento_add'%}";
$("#id_empreendimento").parent().find("label").append(  '&nbsp;&nbsp;<a class="related-widget-wrapper-link add-related" id="add_id_empreendimento" href="'+ url_new+'?_to_field=id_projeto&amp;_popup=1" title="Adicionar outro empreendimento"><img src="/static/admin/img/icon-addlink.svg" alt="Adicionar"></a>');


$("#add_id_empreendimento").click(function (){
        var url = $(this).attr("href");  
        dialogEmpreendimento =  new  BootstrapDialog({
                   title: "Novo empreendimento",
                   message: $('<div></div>').load(url)
            });

            dialogEmpreendimento.open();
            return false;

     })


alert_template = "MESSSAGE";



$( document ).ready(function() { 


        var form_projeto = $('#ajax-form-projeto');

        var edit_url = form_projeto.attr('data-url');

         

        var projeto_id = '{{projeto.pk}}';


        form_projeto.submit(function(event){
                $("#msg_container").html("");
                event.preventDefault();
                var $formData = $(this).serialize()
                var $thisURL = $(this).attr('data-url') 
                $.ajax({
                        method: "POST",
                        url: $thisURL,
                        data: $formData,
                        success: function (data, textStatus, jqXHR){

                                if(textStatus=='success'){
                
                                        
                                       // filtrarLista();
                                        var msg = alert_template.replace("MESSSAGE", data["message"]);
                                        $("#msg_container").html(msg);
                
                                        //BootstrapDialog.alert({title: 'Mensagem',   message : data["message"]});
                
                                        edit_url =    data["url"];
                                        form_projeto.attr('data-url', edit_url);
                                        projeto_id = data["pk"];
                                        //adicionar à lista de projetos
                                        titulo = $("#id_empreendimento option:selected").text() + " | " +
                                            $("#id_atividade_tecnica option:selected").text() + " | " + 
                                            $("#id_etapa_projeto option:selected").text();
                                        $("#id_projeto").append("<option value="+projeto_id+">"+titulo+"</option>");
                                        $("#id_projeto").val(projeto_id);
                                        $("#id_projeto").change();

                                        console.log(titulo);
                                        //fechar modal
                                        $("button.close").click();
                                       
                                                
                                }
                
                        },
                        error: function (jqXHR, textStatus, errorThrown){
                                console.log(jqXHR);
                                console.log(textStatus);
                                console.log(errorThrown);
                                console.log(jqXHR.responseText)
                
                                if ($("input").next('p').length) $("input").nextAll('p').empty();
                
                                data = jqXHR.responseJSON;
                
                                 
                
                                $.each(data, function (key, value){
                                        // object message error django
                                        if (key != "__all__"){
                                                var $input = $("input[name='"+ key +"']");
                                                $input.after("<p>" + value + "</p>");
                
                                                var msg = "Por favor corriga os erros abaixo para prosseguir:<br>"
                
                
                                                BootstrapDialog.show({
                                                        title: 'Mensagem',
                                                        message: msg
                                                });
                
                                                msg = alert_template.replace("MESSSAGE", msg + value);
                                                $("#msg_container").html(msg);
                
                                        }else{
                                            //alert(value);
                                            var msg = "Por favor corriga os erros abaixo para prosseguir:<br>"
                                             msg = alert_template.replace("MESSSAGE", msg + value);
                                            $("#msg_container").html(msg);
                                                //BootstrapDialog.show({ title: 'Mensagem',    message: msg                  });
                
                
                
                                        }
                                });
                
                
                        }
                })
        })
        


        
});



</script> 


 

{% endblock %}