{% extends 'checklist/base.html' %}

{% block checklist_content %}
<h1>{{ checklist.question }}</h1>

<ul>
{% for choice in checklist.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'Checklists:detail' checklist.id %}">Vote again?</a>
{% endblock %}