{% load static %}
 
{% if user.is_authenticated %}
 
        <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{% static "img/avatar5.png" %}" class="user-image" alt="User Image">
                  <span class="hidden-xs"> {{user}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                      <!--img src="{% static "img/avatar5.png" %}" class="img-circle" alt="User Image"-->
                    <p>
                      {{user}} 
                    </p>
                    <p>
                        {{user.first_name}}
                        <small></small>
                      </p>
                  </li>
              <!-- Menu Body -->
              <li class="user-body">
                  <div class="row">
                    <div class="col-xs-24 text-center">
                      <a href="#">Plano</a>
                    </div>
                  </div>
                  <!-- /.row -->
                </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="/conta/profile"  >Alterar senha</a>
                    </div>
                    <div class="pull-right">
                      <a href="/conta/sair" id="btnSignOut"  >Sair</a>
                    </div>
                  </li>
                </ul>
        </li>
 {%endif%}


 